<ion-content>

  <ion-content>
    <ion-fab style="padding-top: 20px;">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-fab>

    <h3 text-center *ngIf="auth.currentUser | async as user" padding style="padding-top: 10%">
      {{ user?.nombres }} {{ user?.apellidos }}<br>
      Estado de tu tarea
    </h3>

    <ion-grid *ngIf="tarea | async as tareaD; else loadD" padding class="ion-text-wrap">
      <ion-row>
        <ion-col>
          <div text-center>
            <ion-button size="small" (click)="actualizar()">Actualizar</ion-button>
            <ion-button size="small" (click)="terminar(tareaD)">Cancelar</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tareaD?.estado == 'Solicitado'">
        <ion-col text-center>
          <p>
            <ion-spinner></ion-spinner><br>
            <small>Esperando profesor</small>
          </p>
          <h5> Tu tarea está siendo procesada</h5>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tareaD?.estado == 'Sin_Profesor'">
        <ion-col text-center>
          <p>
            <small><strong>Por favor intenta mas tarde e ingresa diferente hora</strong></small>
          </p>
          <h5> <strong> Tu tarea no ha sido confirmada </strong></h5>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tareaD?.estado == 'Sin_Pago'">
        <ion-col text-center>
          <p>
            El pago no ha sido realizado o ha expirado el tiempo.
          </p>
          <h5> <strong> Por favor vuelva a intentarlo </strong></h5>
        </ion-col>
      </ion-row>

      <div *ngIf="tareaD?.estado == 'Aceptado'">
        <ion-row>
          <ion-col text-center>
            <h5> <strong>Su pago fue exitoso</strong></h5>
            <p>Su tarea será entregada el {{tareaD?.fecha_entrega}}
              en el siguiente horario {{tareaD?.hora_inicio}} - {{tareaD?.hora_fin}} </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div text-center>
              <ion-button size="large" [routerLink]="['/chat']">Chat</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="tareaD?.estado == 'Pago_Rechazado'">
        <ion-col text-center>
          <h5> <strong> Pago Rechazado. </strong></h5>
          <p padding>Si cree que es un error, envianos un whatsapp al <strong> 0983444463 </strong></p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tareaD?.estado == 'Confirmando_Pago'">
        <ion-col text-center>
          <h5> <strong> Confirmando Pago </strong></h5>
          <ion-spinner></ion-spinner><br>
          <p padding>Por favor espere, su solicitud está siendo procesada, en breves minutos se confirmará su pago.
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tareaD?.estado == 'Confirmado'">
        <ion-col *ngIf="comboPago && comboHoras | async as horasComboD">

          <ion-list padding text-center style="background: #243356">
            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-col> Horas Disponible: {{horasComboD }} </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-col size="6"> Horas tarea: </ion-col>
                  <ion-col> {{tareaD?.tiempo_estimado}}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-row>
            <h5 text-center> ¿Pagar con COMBO? </h5>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="comboPago = false">ATRAS</ion-button>
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-button *ngIf="horasComboD >= tareaD?.tiempo_estimado" shape="round" expand="block" size="small"
                (click)="pagarTareaConCombo(tareaD)">
                ACEPTAR
              </ion-button>
              <ion-button *ngIf="horasComboD < tareaD?.tiempo_estimado" shape="round" expand="block" size="small"
                (click)="comprarCombos(tareaD)">
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="transferencia">
          <ion-row>
            <ion-col text-center>
              <h5 padding small>Proceda a realizar el pago</h5>
              <h5>Tiene 20 min. <br>
                CC: 22xxx00982 BEMTE</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button size="block" (click)="subir()">Adjuntar archivo</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="transferencia = false">ATRAS</ion-button>
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="pagarTareaConTransferencia(tareaD)">
                ACEPTAR
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col [hidden]="transferencia || comboPago" text-center>
          <h3 text-center class="ion-padding-horizontal">Tarea confirmada</h3>
          <ion-row>
            <ion-col size="5"> Profesor: </ion-col>
            <ion-col> {{tareaD?.profesor}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">Tiempo:</ion-col>
            <ion-col> {{tareaD?.tiempo_estimado}} Horas</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">Inversión:</ion-col>
            <ion-col>${{tareaD?.inversion}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <h3 padding small>Proceda a realizar el pago</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-button size="small" (click)="transferencia = true">Transferencia
                </ion-button>
                <ion-button size="small" (click)="comboPago = true">Combo</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ng-template #loadD>
      <div text-center>
        <ion-spinner></ion-spinner>
        <h3>Espere por favor</h3>
      </div>
    </ng-template>
  </ion-content>