<ion-content class="ion-text-center ion-padding">

  <ion-grid class="ion-padding">
    <form [formGroup]="registroForm" (ngSubmit)="confirmarCuenta()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nombre*</ion-label>
            <ion-input text-capitalize formControlName="nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Apellido*</ion-label>
            <ion-input text-capitalize formControlName="apellido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row no-padding>
        <ion-col size="4">
          <ion-label position="stacked">
            Celular*
          </ion-label>
          <ion-select okText="Seleccionar" cancelText="Cancelar" class="ion-text-center" formControlName="paisCelular">
            <ion-select-option *ngFor="let paisN of paisNumber | async" [value]="paisN?.codigo">
              {{paisN?.codigo}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="8">
          <ion-item no-padding>
            <ion-input type="tel" formControlName="celular"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Usuario*</ion-label>
            <ion-input formControlName="apodo" placeholder="Create un apodo de minimo 6 caracteres" type="email">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Correo electrónico*</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Contraseña*</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Confirmar Contraseña
              <span
                *ngIf="registroForm.value.password && registroForm.value.password !=registroForm.value.password1"><b>No
                  coinciden</b></span>
            </ion-label>
            <ion-input formControlName="password1" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="ion-no-padding ion-text-wrap">
            <ion-label position="stacked">País de Residencia</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cancelar" formControlName="pais"
              (ionChange)="cargarCiudades($event.detail.value)">
              <ion-select-option *ngFor="let pais of paisNumber | async" [value]="pais?.pais">
                {{pais?.pais}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-wrap ion-no-padding ion-no-margin" position="stacked">Ciudad de Residencia
            </ion-label>
            <ion-select [disabled]="!ciudades" okText="Seleccionar" cancelText="Cancelar" formControlName="ciudad">
              <ion-select-option *ngFor="let c of ciudades | async" [value]="c?.ciudad">
                {{c?.ciudad}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Colegio o Universidad</ion-label>
            <ion-input formControlName="ubicacion">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding size="6">
          <ion-button color="tertiary" size="small" expand="block" (click)="back()" shape="round">
            <b>
              Atras
            </b>
          </ion-button>
        </ion-col>

        <ion-col padding size="6">
          <ion-button color="success" [disabled]="!registroForm.valid" type="submit" size="small" expand="block"
            shape="round" color="primary">
            <b>
              Registrar
            </b>
          </ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>
</ion-content>