<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>
</ng-template>

<ion-content padding>
  <ion-grid *ngIf="user">
    <form [formGroup]="registroForm" (ngSubmit)="editarPerfil()">

      <ion-row class="ion-text-center ion-no-padding ion-no-margin">
        <ion-col offset="7" size="5">
          <ion-button type="submit" shape="round" expand="block" size="small" color="primary"
            [disabled]="!registroForm.valid">
            Actualizar </ion-button>
        </ion-col>

        <ion-col (click)="subirFotoPerfil()" size="6" offset="3">
          <ion-avatar style="display:block; margin:auto; height: 100px; width: 100px;">
            <img [src]="imgPerfil ? imgPerfil.path: user.avatar">
          </ion-avatar>
          <p no-padding no-margin padding-top> {{ user?.nombres }} {{ user?.apellidos }} <br>
          </p>
          <ion-row no-padding no-margin>
            <ion-col offset="5" size="1" no-padding no-margin>
              5
            </ion-col>
            <ion-col size="1" no-padding no-margin>
              <ion-icon color="warning" name="star"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"> Usuario </ion-label>
            <ion-input (focusout)="validarUsuario()" formControlName="apodo" type="text"></ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input readonly formControlName="nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input readonly formControlName="apellido" type="text">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Cambiar Contraseña </ion-label>
            <ion-input formControlName="oldPassword" placeholder="Contraseña Actual">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input [disabled]="!registroForm.value.oldPassword" formControlName="newPassword"
              placeholder="Contraseña nueva" [type]="eye"></ion-input>
            <ion-button slot="end" class="ion-float-right" fill="clear" (click)="eye = eye =='text'?'password': 'text'">
              <ion-icon name="eye" slot="icon-only" color="medium"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              *ngIf="registroForm.value.newPassword && registroForm.value.newPassword !=registroForm.value.newPasswordConfirm">
              No coinciden</ion-label>
            <ion-input [disabled]="!registroForm.value.oldPassword" formControlName="newPasswordConfirm"
              placeholder="Confirmar Contraseña Nueva" [type]="eye">
            </ion-input>
            <ion-button slot="end" class="ion-float-right" fill="clear" (click)="eye = eye =='text'?'password': 'text'">
              <ion-icon name="eye" slot="icon-only" color="medium"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="ion-no-padding ion-text-wrap">
            <ion-label class="ion-text-wrap ion-no-padding" position="stacked">País de Residencia</ion-label>
            <ion-select okText="Seleccionar" cancelText="Cancelar" formControlName="pais"
              (ionChange)="cargarCiudades($event.detail.value)">
              <ion-select-option *ngFor="let pais of paisNumber | async" [value]="pais?.pais">
                {{pais?.pais}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-wrap ion-no-padding" position="stacked">
              <span style="font-size: 12px;">Ciudad de Residencia</span>
            </ion-label>
            <ion-select [disabled]="!ciudades" okText="Seleccionar" cancelText="Cancelar" formControlName="ciudad">
              <ion-select-option *ngFor="let c of ciudades | async" [value]="c?.ciudad">
                {{c?.ciudad}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row no-padding>
        <ion-col size="4">
          <ion-label position="stacked">
            Celular*
          </ion-label>
          <ion-select disabled okText="Seleccionar" cancelText="Cancelar" class="ion-text-center"
            formControlName="paisCelular">
            <ion-select-option *ngFor="let paisN of paisNumber | async" [value]="paisN?.codigo">
              {{paisN?.codigo}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="8">
          <ion-item no-padding>
            <ion-input type="tel" formControlName="celular"></ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked"> Correo </ion-label>
            <ion-input formControlName="email" readonly type="email">
            </ion-input>
            <!-- <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon> -->
          </ion-item>

          <ion-item class="ion-no-padding">
            <!-- FIXME: debe ser la universidad o colegio -->
            <ion-label position="stacked"> <span *ngIf="user.tipo == 'Alumno'"> Colegio o Universidad </span> <span
                *ngIf="user.tipo == 'Profesor'"> Dirección de Domicilio </span></ion-label>
            <ion-input formControlName="ubicacion" type="text"></ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
          </ion-item>

          <div *ngIf="user.tipo == 'Profesor'">
            <ion-item class="ion-no-padding">
              <ion-label position="stacked"> Descripción profesional </ion-label>
              <ion-textarea formControlName="descripcion" type="email">
              </ion-textarea>
              <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label position="stacked"> ¿Como te gustaria trabajar? </ion-label>
              <ion-select formControlName="claseTarea" (ionChange)="setClasesTareas($event.detail.value)"
                okText="Seleccionar" cancelText="Cancelar" class="ion-padding">
                <ion-select-option *ngFor="let c of claseTareaSelect" [value]="c.id">
                  {{c?.value}}
                </ion-select-option>
              </ion-select>
              <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="medium" name="create"></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ionic-selectable class="ion-no-padding ion-no-margin" closeButtonText="Cerrar" class="ion-text-center" [items]="materias" [(ngModel)]="materia1"
            itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
            (onChange)="verificarMateria($event.value,1)">
          </ionic-selectable>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ionic-selectable class="ion-no-padding ion-no-margin" closeButtonText="Cerrar" class="ion-text-center" [items]="materias" [(ngModel)]="materia2"
            itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
            (onChange)="verificarMateria($event.value,2)">
          </ionic-selectable>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ionic-selectable class="ion-no-padding ion-no-margin" closeButtonText="Cerrar" class="ion-text-center" [items]="materias" [(ngModel)]="materia3"
            itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
            (onChange)="verificarMateria($event.value,3)">
          </ionic-selectable>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ionic-selectable class="ion-no-padding ion-no-margin" closeButtonText="Cerrar" class="ion-text-center" [items]="materias" [(ngModel)]="materia4"
            itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
            (onChange)="verificarMateria($event.value,4)">
          </ionic-selectable>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">
          <ionic-selectable class="ion-no-padding ion-no-margin" closeButtonText="Cerrar" class="ion-text-center" [items]="materias" [(ngModel)]="materia5"
            itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
            (onChange)="verificarMateria($event.value,5)">
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding" text-center>
    <a (click)="auth.purgeAuth()">
      <ion-text color="tertiary">
        <span style="border-bottom: 1px solid"> Cerrar Sesión </span>
      </ion-text>
    </a>
  </div>
</ion-content>