<app-header-bemte-prof></app-header-bemte-prof>
<ion-content padding>

  <ion-grid padding *ngIf="auth.currentUser | async as user">
    <ion-row class="ion-text-center ion-no-padding ion-no-margin">
      <ion-col size="6" offset="3">
        <ion-avatar style="display:block; margin:auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <p> <small> {{ user?.nombres }} {{ user?.apellidos }} </small> <br>
          <ion-icon color="primary" *ngFor="let item of [1,2,3,4,5]" name="star" color="warning"></ion-icon>
        </p>
      </ion-col>
    </ion-row>

    <form [formGroup]="registroForm" (ngSubmit)="editarPerfil()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"> Correo </ion-label>
            <ion-input formControlName="email" readonly type="email">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="primary" name="create"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input formControlName="apellido" type="text">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Cambiar Contraseña </ion-label>
            <ion-input formControlName="oldPassword" placeholder="Contraseña Actual" type="password">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="primary" name="create"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input [disabled]="!registroForm.value.oldPassword" formControlName="newPassword"
              placeholder="Contraseña nueva" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              *ngIf="registroForm.value.newPassword && registroForm.value.newPassword !=registroForm.value.newPasswordConfirm">
              No coinciden</ion-label>
            <ion-input [disabled]="!registroForm.value.oldPassword" formControlName="newPasswordConfirm"
              placeholder="Confirmar Contraseña Nueva" type="password">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"> Usuario </ion-label>
            <ion-input formControlName="apodo" type="text">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="primary" name="create"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"> Celular </ion-label>
            <ion-input formControlName="celular" type="tel">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="primary" name="create"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"> Ciudad </ion-label>
            <ion-input readonly formControlName="ciudad" type="text">
            </ion-input>
            <ion-icon slot="end" class="ion-no-padding ion-no-margin" color="primary" name="create"></ion-icon>
          </ion-item>

          <ion-item>
            <!-- FIXME: debe ser la universidad o colegio -->
            <ion-label position="stacked"> Colegio o Universidad </ion-label>
            <ion-input formControlName="tipo" readonly type="text">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button size="block" type="submit" [disabled]="!registroForm.valid"> Actualizar </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>


  <div text-center>
    <a (click)="auth.purgeAuth()">
      <ion-text color="tertiary">
        Cerrar Sesión
      </ion-text>
    </a>
  </div>
</ion-content>