<app-header-bemte-prof *ngIf="reload"></app-header-bemte-prof>

<ion-content>

  <app-header-user-prof *ngIf="reload"></app-header-user-prof>

  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslizar para Actualiar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="lineBotton">
      <ion-col size="6">
        <ion-button shape="round" color="primary" [fill]="tipo=='clases'?'solid':'clear'" expand="block"
          (click)="setTipo('clases')">Clases</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" color="primary" [fill]="tipo=='tareas'?'solid':'clear'" expand="block"
          (click)="setTipo('tareas')">Tareas</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="tipo=='clases'">
    <ion-grid *ngIf="(clases | async) as clasesD; else loadD">
      <ion-row class="lineBotton ion-no-padding ion-text-center" *ngFor="let clase of clasesD; let first = first;"
        [routerLink]="['/clase-detalles/'+clase.id]">
        <ion-col size="8">
          <ion-item class="ion-text-wrap" lines="none">
            <ion-thumbnail slot="start">
              <img [src]="clase.icono ? util.photoUrl + clase.icono : '/assets/icon/favicon.png'">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-no-padding">
              <h2> {{clase?.materia}} </h2>
              <h5> {{clase?.tema}}</h5>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col class="ion-align-self-center lineLateral" size="4">
          <ion-text *ngIf="first" class="ion-no-margin ion-no-padding ion-text-center" color="danger">
            <small>Ganancia</small>
          </ion-text>
          <ion-text class="ion-text-center" color="dark">
            <p no-padding no-margin style="font-size: 25px;">${{clase.valor}} </p>
          </ion-text>
        </ion-col>

      </ion-row>

      <div text-center *ngIf="clasesD.length === 0">
        <h3>No hay datos para mostrar</h3>
      </div>
    </ion-grid>
  </div>

  <div *ngIf="tipo == 'tareas'">
    <ion-grid *ngIf="tareas | async as tareasD; else loadD">

      <ion-row class="ion-no-padding" class="lineBotton" *ngFor="let tarea of tareasD"
        [routerLink]="['/tarea-detalles/'+tarea.id]">
        <ion-col size="8">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-padding-left">
              <h2> {{tarea?.materia}} </h2>
              <h5> {{tarea?.tema}}</h5>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col class="ion-align-self-center lineLateral" text-center size="4">
          <ion-button shape="round" [color]="util.getColorEstado(util.estados(tarea?.estado))" size="small">
            <small class="ion-no-padding ion-no-margin"><b>Detalles</b></small>
          </ion-button>
        </ion-col>

        <ion-grid [routerLink]="['/tarea-detalles/'+tarea.id]" text-center no-padding
          *ngIf="tarea?.id==detallesTareaId">

          <ion-row *ngIf="tarea?.descripcion" class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <small>Descripción</small><br>
                {{tarea?.descripcion}}
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h5>Entregar: {{tarea?.fecha_entrega  | date: 'dd/MM/yyyy'}} ( {{tarea?.hora_inicio}} ~
                {{tarea?.hora_fin}})</h5>
              <h5>Formato: {{tarea?.formato_entrega}}</h5>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-row>

      <div padding text-center *ngIf="tareasD.length === 0">
        <h3>No hay datos para mostrar</h3>
      </div>

    </ion-grid>
  </div>

  <ng-template #loadD>
    <div padding text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>

</ion-content>