<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936528253935-e0q6s4kn8nn7iq422k0ieq7fe875h9hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936528253935-e0q6s4kn8nn7iq422k0ieq7fe875h9hp</string>
	<key>API_KEY</key>
	<string>AIzaSyAHfbwAfXkiGjfN7QMfXtXarp9xJT31XvY</string>
	<key>GCM_SENDER_ID</key>
	<string>936528253935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bemte.ecuador.profesor</string>
	<key>PROJECT_ID</key>
	<string>bemte-ecuador</string>
	<key>STORAGE_BUCKET</key>
	<string>bemte-ecuador.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936528253935:ios:203ba8701e6f1274</string>
	<key>DATABASE_URL</key>
	<string>https://bemte-ecuador.firebaseio.com</string>
</dict>
</plist>