<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>
</ng-template>


<ion-content text-center>

  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslizar para Actualiar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDivData">
    <ion-grid *ngIf="(tareaO | async) as tarea; else loadD">

      <!-- Seccion para aplicar a la tarea -->
      <div *ngIf="tarea.estado == 'Solicitado'">
        <app-header-user-prof></app-header-user-prof>

        <div *ngIf="verificarProfeAplicado(tarea.profAplicados); else aplicarTarea">
          <ion-row class="lineBotton">
            <ion-col offset="1" size="8">
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-padding-left">
                  <h2> {{tarea?.materia}} </h2>
                  <h5> {{tarea?.tema}}</h5>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row padding>
            <ion-col>
              <ion-text color="primary">
                <h5 padding>
                  Gracias por aplicar<br>
                  se confirmará en un plazo máximo de 1 hora
                </h5>
              </ion-text>
              <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" routerLink="/lista-tareas">
                CONTINUAR
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <ng-template #aplicarTarea>
          <ion-row class="lineBotton">
            <ion-col text-center>
              <ion-text color="primary">
                <h1 no-padding><b>TAREAS</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col offset="1" size="3" class="ion-no-padding">
              <img style="height: 60px; width: 60px;"
                [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
            </ion-col>
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding no-margin>{{tarea.materia}}</h5>
                <small text-wrap>{{tarea?.tema}}</small>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="tarea?.descripcion" class="lineBotton">
            <ion-col class="ion-text-center">
              <h5 no-padding>Descripcion</h5>
              <ion-text color="tertiary">
                <p no-padding no-margin> {{tarea?.descripcion}} </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col no-padding class="ion-text-center">
              <h5 no-padding>Fecha de entrega</h5>
              <ion-text color="tertiary">
                <p no-padding no-margin style="font-size: 30px">{{tarea?.fecha_entrega | date: 'dd/MM/yyyy'}}</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col no-padding size="12" class="ion-text-center">
              <h5 no-padding>Rango de entrega</h5>
              <ion-text color="tertiary">
                <p no-padding no-margin style="font-size: 30px">
                  {{tarea?.hora_inicio}} - {{tarea?.hora_fin}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col no-padding size="6" class="ion-text-center">
              <h5 no-padding>Formato de entrega</h5>
              <ion-text color="tertiary">
                <p no-padding no-margin class="ion-text-uppercase" style="font-size: 30px">
                  {{tarea?.formato_entrega}}
                </p>
              </ion-text>
            </ion-col>

            <ion-col size="6" no-padding class="ion-text-center" *ngIf="tarea?.archivos && tarea?.archivos.length > 0">
              <h5 no-padding>Archivo(s)</h5>
              <ion-button *ngFor="let item of tarea.archivos" color="success"
                (click)="descargarArchivo(item.archivo ? item.archivo : '')">
                <ion-icon slot="icon-only" name="arrow-round-down" color="light"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <!--  codigo para aplicar a una tarea.-->
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button color="secondary" (click)="aplicar(tarea)" shape="round" expand="block">
                Aplicar
              </ion-button>
            </ion-col>
          </ion-row>
        </ng-template>
      </div>

      <div padding *ngIf="tarea.estado == 'Terminado' || tarea.estado == 'Calificado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row class="lineBotton">
            <ion-col offset="1" size="3" class="ion-no-padding">
              <img style="height: 60px; width: 60px;"
                [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
            </ion-col>
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding no-margin>{{tarea.materia}}</h5>
                <small text-wrap>{{tarea?.tema}}</small>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>TERMINADA</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  Usted ya ha <b> realizado </b> esta tarea.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" routerLink="/lista-tareas/ANTERIOR"> 
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- tarea aceptada o asignada -->
      <div *ngIf="tarea.estado == 'Aceptado' || tarea.estado == 'Pago_Aprobado'">

        <ion-row class="lineBotton">
          <ion-col text-center>
            <ion-text color="primary">
              <h3 no-padding><b>ESTADO DE LA TAREA</b></h3>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col text-center>
            <ion-text color="primary">
              <h1><b>Confirmada</b></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton" (click)="verDetalles= !verDetalles">
          <ion-col offset="1" size="3" class="ion-no-padding">
            <img style="height: 60px; width: 60px;"
              [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="tertiary">
              <h5 no-padding no-margin>{{tarea.materia}}</h5>
              <small text-wrap>{{tarea?.tema}}</small>
            </ion-text>
          </ion-col>
        </ion-row>

        <div *ngIf="verDetalles">
          <ion-row *ngIf="tarea?.descripcion" class="lineBotton">
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding>Descripcion</h5>
                <p no-padding no-margin> {{tarea?.descripcion}} </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col no-padding size="6" class="ion-text-center">
              <h5 no-padding>Formato de entrega</h5>
              <ion-text color="tertiary">
                <p no-padding no-margin class="ion-text-uppercase" style="font-size: 30px">
                  {{tarea?.formato_entrega}}
                </p>
              </ion-text>
            </ion-col>


            <ion-col size="6" no-padding class="ion-text-center" *ngIf="tarea?.archivos && tarea?.archivos.length > 0">
              <h5 no-padding>Archivo(s)</h5>
              <ion-button *ngFor="let item of tarea.archivos" color="success"
                (click)="descargarArchivo(item.archivo ? item.archivo : '')">
                <ion-icon slot="icon-only" name="arrow-round-down" color="light"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </div>

        <ion-row class="lineBotton">
          <ion-col class="ion-no-padding" size="12" class="ion-text-center">
            <ion-text color="tertiary">
              <h5 class="ion-text-left">Tu tarea debe ser entregada entre:</h5>
              <p style="font-size: 35px;" class="ion-no-padding ion-no-margin">{{tarea?.hora_inicio}} -
                {{tarea?.hora_fin}}</p>

              <p style="font-size: 20px;" class="ion-no-padding ion-vertical-padding">
                {{tarea?.fecha_entrega | date:"fullDate"}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col>
            <ion-text color="tertiary">
              <p>El chat estará activo hasta 24 horas depues de la hora de entrega, <b> para correcciones</b></p>
            </ion-text>
            <ion-item (click)="openChat(tarea)" class="borderC">
              <ion-input readonly placeholder="Escribe un mensaje"></ion-input>
              <ion-button fill="clear" slot="end">
                <ion-icon size="large" color="tertiary" name="ios-send" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ng-template #continuarB> -->
        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" (click)="util.atras()">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- </ng-template> -->
      </div>

      <!-- Tarea aplicada pero sin pagar del alumno -->
      <div padding *ngIf="tarea.estado == 'Confirmado' || tarea.estado == 'Confirmando_Pago'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>TAREAS</b></h1>
        </ion-text>

        <ion-row class="lineBotton">
          <ion-col offset="1" size="10">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap ion-padding-left">
                <h2> {{tarea?.materia}} </h2>
                <h5> {{tarea?.tema}}</h5>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row padding>
          <ion-col>
            <ion-text color="primary">
              <h5 padding>
                Gracias por aplicar<br>
                se confirmará en un plazo máximo de 1 hora
              </h5>
            </ion-text>
            <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" [routerLink]="'/lista-tareas'">
              CONTINUAR
            </ion-button>
          </ion-col>
        </ion-row>

      </div>

      <!-- tarea Cancelada -->
      <div padding *ngIf="tarea.estado == 'Cancelado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Cancelada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <span *ngIf="tarea.user_canc == tarea.user_id_pro; else cancelEst">
                    <b>Has cancelado tu tarea</b>,<br>
                    recuerda que tienes una multa de 2 horas.
                  </span>
                  <ng-template #cancelEst>
                    <span>
                      <b>Lamentamos informarte que el estudiante ha cancelado la tarea</b>,
                      permanece atento a mas solicitudes.
                    </span>
                  </ng-template>
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <br>

        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" (click)="goToCancelada(tarea)">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>

      </div>

      <!-- tarea Rechazada -->
      <div padding *ngIf="util.estados(tarea.estado) == 'Rechazado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-row padding>
          <ion-col>
            <ion-text color="danger">
              <h1 padding><b>Rechazada</b></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <br>

        <ion-row>
          <ion-col>
            <ion-text color="tertiary">
              <h5>
                <b>Lo sentimos</b>,<br>
                la tarea no ha podido confirmarse, permanece atento a más solicitudes.
              </h5>
            </ion-text>
          </ion-col>
        </ion-row>

        <br>

        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" (click)="util.atras()">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>

      </div>

    </ion-grid>
  </div>

  <ng-template #estudianteDivData>
    <ion-grid *ngIf="(tareaO | async) as tarea; else loadD">


      <div *ngIf="tarea.estado == 'Sin_Horas'">
        <app-header-user></app-header-user>

        <div padding>
          <ion-text color="danger">
            <h3>No tienes horas suficientes</h3>
          </ion-text>
          <app-horas-seleccionar [tarea_id]="tarea.id" (accion)="accionHoras($event)"></app-horas-seleccionar>
        </div>
      </div>


      <div *ngIf="tarea.estado == 'Aceptado' || tarea.estado == 'Pago_Aprobado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-row class="lineBotton">
          <ion-col size="12" class="ion-text-center">
            <ion-text color="tertiary">
              <h1 style="font-size: 3em"><b>Confirmada</b></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton" (click)="verDetalles = !verDetalles">
          <ion-col offset="1" size="3" class="ion-no-padding">
            <img style="height: 60px; width: 60px;"
              [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="tertiary">
              <h5 no-padding no-margin>{{tarea.materia}}</h5>
              <small text-wrap>{{tarea?.tema}}</small>
            </ion-text>
          </ion-col>
        </ion-row>

        <div *ngIf="verDetalles">
          <ion-row *ngIf="tarea?.descripcion" class="lineBotton">
            <ion-col class="ion-text-left">
              <h5 no-padding>Descripcion</h5>
              <ion-text color="tertiary">
                <p> {{tarea?.descripcion}} </p>
              </ion-text>
            </ion-col>

            <ion-col size="12" *ngIf="tarea.apodoProfesor" class="ion-text-left">
              <ion-text color="black">
                <h5 class="ion-no-padding"> Tu tarea ha sido asignada a </h5>
              </ion-text>
              <ion-text color="tertiary">
                <h4 class="ion-no-padding"> {{tarea?.apodoProfesor}} </h4>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="lineBotton">
          <ion-col>
            <ion-text color="tertiary">
              <h5 class="ion-text-left">Tu tarea será entregada entre:</h5>
              <p style="font-size: 35px;" class="ion-no-padding ion-no-margin">{{tarea?.hora_inicio}} -
                {{tarea?.hora_fin}}</p>

              <p style="font-size: 20px;" class="ion-no-padding ion-vertical-padding">
                {{tarea?.fecha_entrega | date:"fullDate"}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col>
            <ion-text color="tertiary">
              <p>El chat estará activo hasta 24 horas depues de la hora de entrega, <b> para correcciones</b></p>
            </ion-text>
            <ion-item (click)="openChat(tarea)" class="borderC">
              <ion-input readonly placeholder="Escribe un mensaje"></ion-input>
              <ion-button fill="clear" slot="end">
                <ion-icon size="large" color="tertiary" name="ios-send" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <br>
        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <!-- buscando profesor acabada de solicitar -->
      <div *ngIf="tarea.estado == 'Solicitado'">
        <app-header-user></app-header-user>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h3 padding>
                  Estamos buscando un profesor...<br>
                  Se confirmará en un plazo máximo de <b>1</b> hora
                </h3>
              </ion-text>
              <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>

          <br>
          <ion-row padding>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" routerLink="/lista-tareas">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- tarea aceptada por el profesor, pagara -->
      <div *ngIf="tarea.estado == 'Confirmado'">
        <app-header-user></app-header-user>

        <div *ngIf="!tareaPago">
          <ion-row class="lineBotton">
            <ion-col offset="1" size="3" class="ion-no-padding">
              <img style="height: 60px; width: 60px;"
                [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
            </ion-col>
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding no-margin>{{tarea.materia}}</h5>
                <small text-wrap>{{tarea?.tema}}</small>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <h3>
                  <b>¡Tu tarea ha sido confirmada!</b>
                </h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <h3>
                  <b>Tiempo:</b>
                  {{tarea?.tiempo_estimado}}
                </h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <h3>
                  <b>Inversión:</b>
                  {{tarea?.inversion}}
                </h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text color="tertiary">
                <h3 padding>
                  <b>¿Cómo deseas realizar el pago?</b>
                </h3>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-button size="small" expand="block" shape="round" color="success" (click)="tareaPago = true">
                Transferencia
              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button size="small" expand="block" shape="round" color="success" (click)="confirmaPagarCombo(tarea)">
                Combo
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="tareaPago" padding>
          <app-subir-transferencia [tarea_id]="tarea.id" (accion)="accionHoras($event) [total]="tarea?.valor_compra"></app-subir-transferencia>
        </div>
      </div>

      <!-- clase rechazada sin profesor -->
      <div padding *ngIf="tarea.estado == 'Sin_Profesor'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  no encontramos profesor,
                  por favor elige otro <b>horario</b> e
                  inténtalo nuevamente.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div padding *ngIf="tarea.estado == 'Sin_Pago'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  no has realizado el pago en el tiempo requerido,
                  por favor solicite la tarea nuevamente.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div padding *ngIf="tarea.estado == 'Pago_Rechazado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  su pago ha sido rechazado o no lo hemos podido verificar.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding *ngIf="tarea.estado == 'Terminado' || tarea.estado == 'Calificado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Recibido</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  Usted ya ha <b> recibido </b> esta tarea. <br>
                  Si tiene dudas escribenos a: informacion@bemte.ec
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding *ngIf="tarea.estado == 'Cancelado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Cancelada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <span *ngIf="tarea.user_canc == tarea.user_id; else cancelProf">
                    <b>Has cancelado tu tarea</b>,<br>
                    recuerda que tienes una multa de 1 hora.
                  </span>
                  <ng-template #cancelProf>
                    <span>
                      <b>Lamentamos informarte que el profesor ha cancelado la tarea</b>,
                      por favor vuelve a solicitar.
                    </span>
                  </ng-template>
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div padding *ngIf="tarea.estado == 'Confirmando_Pago'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA TAREA</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Confirmando Pago</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>Gracias por realizar su pago. <br>
                  En breves momentos se confirmará.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" (click)="util.atras()">
                Continuar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-grid>

  </ng-template>


  <ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>

</ion-content>