<ion-content>

  <ion-fab style="padding-top: 20px;">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-fab>

  <h3 text-center *ngIf="auth.currentUser | async as user" padding style="padding-top: 10%">
    {{ user?.nombres }} {{ user?.apellidos }}<br>
    Estado de tu clase
  </h3>

  <ion-grid *ngIf="clase | async as claseD; else loadD" padding class="ion-text-wrap">
    <ion-row>
      <ion-col>
        <div text-center>
          <ion-button size="small" (click)="actualizar()">Actualizar</ion-button>
          <ion-button size="small" (click)="confirmarCancelar(claseD)">Cancelar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="claseD?.estado == 'Confirmado'">
        <ion-col>
          <h3 text-center class="ion-padding-horizontal">Datos de la clase</h3>
          <h5>
            Materia: {{claseD?.materia}} <br>
            Tema: {{claseD?.tema}}</h5>
          <h5>Fecha {{claseD?.fecha}} <br>
            {{claseD?.hora_prof}}
          </h5>
          <h5> Profesor: {{claseD?.profesor}} </h5>
          <p>Almumnos {{claseD?.personas}}</p>
          <p>Ubicación {{claseD?.ubicacion}}</p>
          <p>Combo {{claseD?.combo}}</p>
          <ion-spinner></ion-spinner><br>

          <h5>Estado de la clase: <strong>{{claseD?.estado}}</strong></h5>
        </ion-col>
      </ion-row> -->
    <ion-row *ngIf="claseD?.estado == 'Solicitado'">
      <ion-col text-center>
        <p>
          <ion-spinner></ion-spinner><br>
          <small>Esperando profesor</small>
        </p>
        <h5> Tu clase está siendo confirmada</h5>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="claseD?.estado == 'Sin_Profesor'">
      <ion-col text-center>
        <p>
          <small><strong>Por favor intenta mas tarde e ingresa diferente hora</strong></small>
        </p>
        <h5> <strong> Tu clase no ha sido confirmada </strong></h5>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="claseD?.estado == 'Sin_Pago'">
      <ion-col text-center>
        <p>
          El pago no ha sido realizado o ha expirado el tiempo.
        </p>
        <h5> <strong> Por favor vuelva a intentarlo </strong></h5>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="claseD?.estado == 'Confirmando_Pago'">
      <ion-col text-center>
        <p>
          Gracias por realizar su pago. En breves momentos se acreditará su combo...
        </p>
      </ion-col>
    </ion-row>

    <div padding *ngIf="claseD?.estado == 'Aceptado'">
      <h5> <strong> Clase confirmada </strong></h5>
      <ion-list padding text-center style="background: #243356">
        <ion-item>
          <ion-label>{{claseD?.materia}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{claseD?.tema}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hora: {{claseD?.hora_prof}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha: {{claseD?.fecha | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">Profesor: {{claseD?.profesor}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Horas Reservadas: {{claseD?.duracion}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col text-center>
          <ion-button size="large" [routerLink]="['/chat']">Chat</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="claseD?.estado == 'Pago_Rechazado'">
      <ion-col text-center>
        <h5> <strong> Pago Rechazado. </strong></h5>
        <p padding>Si cree que es un error, envianos un whatsapp al <strong> 0983444463 </strong></p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="claseD?.estado == 'Confirmado' && horasCombo | async as horasComboD">
      <ion-col text-center>
        <h3>Clase aceptada por el profesor: {{claseD?.aplica_prof}}</h3>
        <div *ngIf="horasComboD.length > 0;">
          <p text-center padding>¿Pagar con COMBO?</p>
          <ion-row padding>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="atras()">ATRAS</ion-button>
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="pagarComboTieneHoras(claseD)">Pagar
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div>
          <ion-row>
            <ion-col text-center>
              <h5 padding small>Pagar con transferencia</h5>
              <h5>Tiene 20 min. <br>
                CC: 22xxx00982 BEMTE</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="!img || img.length === 0; else imgData" size="8" offset="2">
              <ion-button size="block" (click)="subir()">Adjuntar Imagen</ion-button>
            </ion-col>

            <ng-template #imgData>
              <ion-col size="10" offset="1">
                <ion-item *ngFor="let imgD of img; index as pos" text-wrap>
                  <ion-thumbnail slot="start">
                    <ion-img [src]="imgD.path"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h5>{{ imgD.name }}</h5>
                  </ion-label>
                  <ion-button slot="end" fill="clear" (click)="upload.deleteImage(imgD, pos)">
                    <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-col>
            </ng-template>

          </ion-row>
          <ion-row>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="atras()">ATRAS</ion-button>
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-button shape="round" expand="block" size="small" (click)="pagarClaseConTransferencia(claseD)">
                Pagar
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="claseD?.estado == 'Pago_Aprobado'">
      <ion-col text-center>
        <h3 text-center class="ion-padding-horizontal">Pago Exitoso</h3>
        <h5>Por favor ingrese su dirección</h5>

        <ion-row padding>
          <ion-col>
            <ion-list style="background: #243356">
              <ion-item>
                <ion-label position="floating">Calle #</ion-label>
                <ion-input #calle> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Referencia</ion-label>
                <ion-input #referencia> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Por quién preguntar</ion-label>
                <ion-input #preguntarPor> </ion-input>
              </ion-item>
              <ion-row>
                <ion-col size="6" offset="3">
                  <ion-button [disabled]="!calle.value || !referencia.value || !preguntarPor.value"
                    (click)="setDireccion(calle.value, referencia.value, preguntarPor.value, claseD.id)" size="block">
                    Enviar</ion-button>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>
</ion-content>