<ion-content>

  <ion-content>
    <ion-fab style="padding-top: 20px;">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-fab>

    <h3 *ngIf="auth.currentUser | async as user" padding style="padding-top: 20%">
      {{ user?.nombres }} {{ user?.apellidos }}<br>
      Estado de tu clase
    </h3>

    <ion-grid *ngIf="clase | async as claseD; else loadD" padding class="ion-text-wrap">
      <ion-row>
        <ion-col>
          <div text-center>
            <ion-button size="small" (click)="actualizar()">Actualizar</ion-button>
            <ion-button size="small" (click)="terminar(claseD)">Terminar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="claseD?.estado != 'Confirmado'">
        <ion-col>
          <h3 text-center class="ion-padding-horizontal">Datos de la clase</h3>
          <h5>
            Materia: {{claseD?.materia}} <br>
            Tema: {{claseD?.tema}}</h5>
          <h5>
            Fecha {{claseD?.fecha}} <br>
            {{claseD?.hora1}} o {{claseD?.hora2}} </h5>
            <p>Almumnos {{claseD?.personas}}</p>
          <h5>Estado de la clase: <strong>{{claseD?.estado}}</strong></h5>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="claseD?.estado == 'Solicitado'">
        <ion-col text-center>
          <p>
            <ion-spinner></ion-spinner><br>
            <small>Esperando profesor</small>
          </p>
          <h5> Tu clase está siendo procesada</h5>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="claseD?.estado == 'Sin_Profesor'">
        <ion-col text-center>
          <p>
            <small><strong>Por favor intenta mas tarde e ingresa diferente hora</strong></small>
          </p>
          <h5> <strong> Tu clase no ha sido confirmada </strong></h5>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="claseD?.estado == 'Aceptado'">
        <ion-col text-center>
          <h5> <strong> Tu clase ha sido aceptada y pagada, el chat esta habilitado </strong></h5>
        </ion-col>
        <ion-row>
          <ion-col size="5"> Profesor: </ion-col>
          <ion-col> {{claseD?.profesor}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <div>
              <ion-button size="large" [routerLink]="['/chat']">Chat</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-row>


      <ion-row *ngIf="claseD?.estado == 'Confirmado'">
        <ion-col text-center>
          <h3 text-center class="ion-padding-horizontal">clase confirmada</h3>
          <ion-row>
            <ion-col size="5"> Profesor: </ion-col>
            <ion-col> {{claseD?.profesor}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">Tiempo:</ion-col>
            <ion-col> {{claseD?.tiempo_estimado}} Horas</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">Inversión:</ion-col>
            <ion-col>${{claseD?.inversion}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <h3 padding small>Proceda a realizar el pago</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-button size="small" [routerLink]="['/clases-pagar', {tipo:'clase',data:claseD?.id}]">Transferencia
                </ion-button>
                <ion-button size="small" [routerLink]="['/combos']">Combo</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ng-template #loadD>
      <div text-center>
        <ion-spinner></ion-spinner>
        <h3>Espere por favor</h3>
      </div>
    </ng-template>
  </ion-content>