<app-header-bemte></app-header-bemte>
<ion-content>

  <ion-grid *ngIf="calificarData" padding>
    <ion-row class="ion-no-padding">
      <ion-col class="lineBotton" offset="2" size="8">
        <ion-item lines="none" class="ion-no-padding">
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-padding-left">
            <h2> {{calificarData?.materia}} </h2>
            <h5> {{calificarData?.tema}}</h5>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col text-center size="8" offset="2">
        <ion-text color="secondary" style="padding-left: 5px;">
          <h5>Califica a tu profe</h5>
        </ion-text>
        <ion-avatar style="display:block; margin:auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <br>
        <ion-icon size="large" color="warning" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)"
          [ngStyle]="{'color':getColor(num)}" [name]="num <= rating? 'star' : 'star-outline'"></ion-icon>
      </ion-col>
      <ion-col size="4" offset="4">
        <ion-button [disabled]="!rating" (click)="calificar()" shape="round" expand="block" size="small">Enviar
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="rating <= 3">
      <ion-col offset="1" size="10">
        <ion-list>
          <ion-radio-group [(ngModel)]="opinion">
            <ion-list-header class="ion-text-wrap">
              <ion-text color="secondary">
                <h5>Comentanos tu observación</h5>
              </ion-text>
            </ion-list-header>

            <ion-item lines="none">
              <ion-radio value="Llego tarde"></ion-radio>
              <ion-label>
                <ion-text color="secondary" style="padding-left: 5px;">
                  Llego tarde
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-radio value="No llego"></ion-radio>
              <ion-label>
                <ion-text color="secondary" style="padding-left: 5px;">
                  No llego
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-radio value="Era otra persona"></ion-radio>
              <ion-label>
                <ion-text color="secondary" style="padding-left: 5px;">
                  Era otra persona
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-radio value="Falta de respeto o atencion"></ion-radio>
              <ion-label class="ion-text-wrap">
                <ion-text color="secondary" style="padding-left: 5px;">
                  Falta de respeto o atencion
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-radio value="No tenia uniforme"></ion-radio>
              <ion-label class="ion-text-wrap">
                <ion-text color="secondary" style="padding-left: 5px;">
                  No tenia uniforme
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 
<ion-list lines="none">
  <ion-item>
    <ion-label text-center>
      <ion-text color="secondary" style="padding-left: 5px;">
        <h5>Califica a tu profe</h5>
      </ion-text>
      <ion-icon size="large" color="warning" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)"
        [ngStyle]="{'color':getColor(num)}" [name]="num <= rating? 'star' : 'star-outline'"></ion-icon>
    </ion-label>
  </ion-item>
  <ion-item text-center>
    <ion-textarea text-center style="border: solid 0.1px;" #opinionD>
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label text-center>
      <div text-center>
        <ion-button shape="round" [disabled]="!rating" (click)="calificar(opinionD.value)">
          Calificar
        </ion-button>
      </div>
    </ion-label>
  </ion-item>
</ion-list> -->