<ion-text color="secondary">
  <h3 text-center>Elige un combo</h3>
</ion-text>

<ion-grid *ngIf="(horas | async) as horasD; else loadD" text-center>
  <ion-row class="tituloHoras">
    <ion-col size="4">
      <ion-text color="light">
        <strong>Horas</strong> <br>
      </ion-text>
    </ion-col>
    <ion-col size="8">
      <ion-text color="light">
        <strong>Inversión</strong> <br>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center offset="5" size="3">
      <ion-text color="danger">
        antes
      </ion-text>
    </ion-col>
    <ion-col text-center size="4">
      <ion-text color="secondary">
        promoción
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="lineBotton" *ngFor="let hora of horasD" [ngClass]="horaSeleccionada && horaSeleccionada.id==hora.id?'seleccion':''"
    (click)="seleccionaHora(hora)">
    <ion-col size="4">
      <ion-button fill="clear" color="secondary">
        <h5>{{hora.hora}}</h5>
      </ion-button>
    </ion-col>
    <ion-col offset="1" size="3">
      <ion-button fill="clear" color="danger">
        <h5> <del>{{hora.inversion}}</del></h5>
      </ion-button>
    </ion-col>
    <ion-col offset="1" size="3">
      <ion-button size="small" color="primary" expand="block" shape="round">
        ${{hora.descuento}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>

  <ion-row>
    <ion-col size="4" offset="1">
      <ion-button (click)="confirmarCombo(false)" shape="round" expand="block" size="small" color="secondary">Atras
      </ion-button>
    </ion-col>
    <ion-col size="4" offset="1">
      <ion-button [disabled]="!horaSeleccionada" (click)="confirmarCombo(true)" shape="round" expand="block" size="small">
        Confirmar
      </ion-button>
    </ion-col>
  </ion-row>