<app-header-bemte-prof [popup]="!nomodal" [chatPage]="true" *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte [popup]="!nomodal" [chatPage]="true"></app-header-bemte>
</ng-template>

<ion-content text-center #content>
  <div *ngIf="datosMostrar">
    <ion-grid>
      <ion-row class="lineBotton" *ngIf="tipo == ' TAREA'">
        <ion-col class="ion-text-right ion-no-padding ion-no-margin" offset="6" size="6">
          <ion-button color="success" size="small" shape="round" (click)="finalizarTarea()">Finalizar Tarea</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="lineBotton">
        <ion-col size="2" class="ion-align-self-center">
          <ion-button (click)="close()" fill="clear" size="large">
            <ion-icon slot="icon-only" name="ios-arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-text text-left color="tertiary">
            <h1 class="ion-text-center" style="font-size: 3em"><b>Chat</b></h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="lineBotton">
        <ion-col offset="1" size="3" class="ion-no-padding">
          <img style="height: 60px; width: 60px;"
            [src]="datosMostrar.icono ? util.photoUrl + datosMostrar.icono : '/assets/icon/favicon.png'" />
        </ion-col>
        <ion-col class="ion-text-left">
          <ion-text color="tertiary">
            <h5 no-padding no-margin>{{datosMostrar?.materia}}</h5>
            <small text-wrap>{{datosMostrar?.tema}}</small>
          </ion-text>
        </ion-col>
      </ion-row>

      <div *ngIf="chatD">
        <ion-row style="padding-top: 3px;" *ngFor="let item of chatD">
          <ion-col padding [offset]="user.user_id == item.user_escribe ? 4 : 0" size="8"
            [ngClass]="user.user_id == item.user_escribe ? 'ion-text-end ion-padding-end borderUser':'borderOtherUser ion-text-start ion-padding-start'">
            <div [ngClass]="user.user_id != item.user_escribe ? 'ion-no-padding ion-padding-end' : ''"
              *ngIf="item.imagen" class="ion-float-left">

              <img
                *ngIf="item.imagen && (item.imagen.includes('.png') || item.imagen.includes('.jpg') || item.imagen.includes('.jpeg')) else adjunto"
                [src]="util.photoUrl + item.imagen" (click)="downloadFile(item.imagen)">

              <ng-template #adjunto>
                <ion-button fill="outline" size="small" (click)="downloadFile(item.imagen)">
                  <ion-icon name="download" slot="icon-only"></ion-icon>
                </ion-button>
              </ng-template>
              
            </div>
            <ion-text color="tertiary">
              {{item?.texto}}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-text *ngIf="chatD.length == 0" color="tertiary">
          <h5>Sin Historial</h5>
        </ion-text>
      </div>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <div slot="start" class="ion-no-padding">
      <ion-button color="tertiary" fill="clear" *ngIf="!fichero && img.length == 0" size="small"
        (click)="seleccionarFoto()" class="ion-no-padding">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button color="tertiary" fill="clear" *ngIf="!fichero && img.length == 0;" size="small"
        (click)="seleccionarArchivo()" class="ion-no-padding">
        <ion-icon slot="icon-only" name="document"></ion-icon>
      </ion-button>

      <a style="max-width: 100px;" *ngIf="fichero || img.length > 0" class="ion-no-padding ion-text-nowrap"
        (click)="confirmaEnviarArchivo()">
        <small>
          {{fichero && fichero.get('filename') ? fichero.get('filename') :
            img.length > 0 ? img[0].name:''}}
        </small>
      </a>
    </div>

    <ion-input style="height: 40px;" class="ion-no-padding ion-no-margin" spellcheck="true" autoComplete="true"
      autocorrect="true" maxlength="500" type="text" (keyup.enter)="confirmaEnviarArchivo();" placeholder="..."
      [(ngModel)]="newMessage"></ion-input>
    <ion-button fill="clear" slot="end" [disabled]="!newMessage" (click)="confirmaEnviarArchivo();"
      class="ion-no-padding">
      <ion-icon size="large" color="tertiary" name="ios-send" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>