<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv"></app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>
</ng-template>

<ion-content text-center #content>
  <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="close()">
    <ion-button size="small">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-fab>
  <div *ngIf="datosMostrar">
    <ion-text color="primary">
      <h1 class="lineBotton"><b>ESTADO DE LA {{tipo}}</b></h1>
    </ion-text>

    <ion-grid>
      <ion-row class="lineBotton">
        <ion-col offset="2" size="4">
          <img style="height: 60px; width: 60px;" src="/assets/img/chat.png">
        </ion-col>
        <ion-col size="6">
          <ion-text text-left color="secondary">
            <h1 style="font-size: 2em"><b>Chat</b></h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="lineBotton">
        <ion-col offset="1" size="3" class="ion-no-padding">
          <img style="height: 60px; width: 60px;" [src]="'/assets/img/materias/'+datosMostrar.materia + '.png'">
        </ion-col>
        <ion-col class="ion-text-left">
          <ion-text color="secondary">
            <h5 no-padding no-margin>{{datosMostrar?.materia}}</h5>
            <small text-wrap>{{datosMostrar?.tema}}</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <div *ngIf="chatD">
        <ion-row *ngFor="let item of chatD">
          <ion-col [offset]="user.user_id == item.user_escribe ? 4 : 0 " size="8">
            <ion-item lines="none" no-padding>
              <ion-label no-padding text-wrap
                [ngClass]="user.user_id == item.user_escribe ? 'ion-text-end':'ion-text-start'">
                <ion-text color="secondary">
                  {{item?.texto}}
                </ion-text>
              </ion-label>
            </ion-item>

          </ion-col>
          <br>
        </ion-row>

        <ion-text *ngIf="chatD.length == 0" color="secondary">
          <h5>Sin Historial</h5>
        </ion-text>
      </div>

    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-item class="borderC">
    <ion-input spellcheck="true" autoComplete="true" autocorrect="true" maxlength="500" type="text"
      (keyup.enter)="enviarChat(newMessage); newMessage=''" placeholder="..." [(ngModel)]="newMessage"></ion-input>
    <ion-button fill="clear" slot="end" [disabled]="!newMessage && !img"
      (click)="enviarChat(newMessage); newMessage=''">
      <ion-icon size="large" color="secondary" name="send" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>