.linea-baja {
    text-decoration: underline;
}

ion-grid{
    background-color: transparent;
    border-radius: 20px;
}

ion-content {
    --background: url(/assets/img/background_on.png) no-repeat 52% center/cover;
}