<ion-content  class="ion-text-center ion-padding">

  <ion-grid style="padding-top: 25%" padding>
    <form  [formGroup]="authForm" (ngSubmit)="login()">
      <ion-row padding>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col>
          <ion-button class="linea-baja" padding fill="clear" (click)="olvideContrasena()" padding expand="block"
            shape="round" color="secondary">
            <ion-text color="secondary">
              <small>
                <b>
                  Olvidé mi contraseña
                </b>
              </small>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col  size="6" offset="3">
          <ion-button [disabled]="!authForm.valid" type="submit" size="small" expand="block" shape="round"
            color="primary">
            <b>
              Ingresar
            </b>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button color="secondary" size="small" expand="block" (click)="registrar()" shape="round">
            <b>
              Registrarse
            </b>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>