<ion-content class="ion-text-center ion-padding">

  <ion-grid style="padding-top: 25%" padding>
    <form [formGroup]="authForm" (ngSubmit)="login()">
      <ion-row padding>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding>
        <ion-col>
          <ion-button class="linea-baja" padding fill="clear" (click)="olvideContrasena()" padding expand="block"
            shape="round" color="tertiary">
            <ion-text color="tertiary">
              <small>
                <b>
                  Olvidé mi contraseña
                </b>
              </small>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button [disabled]="!authForm.valid" type="submit" size="small" expand="block" shape="round"
            color="success">
            <b>
              Ingresar
            </b>
          </ion-button>
        </ion-col>
      </ion-row>

     <ion-row>
        <ion-col size="6" offset="3">
          <ion-button color="tertiary" size="small" expand="block" [routerLink]="['/registrarse']" shape="round">
            <b>
              Registrarse
            </b>
          </ion-button>
        </ion-col>
      </ion-row>

       <!-- <ion-row>
        <ion-col size="6" offset="3">
          <ion-button color="tertiary" size="small" expand="block" [routerLink]="['/registrarse-profesor']"
            shape="round">
            <b>
              Registrarse
            </b>
          </ion-button>
        </ion-col>
      </ion-row>  -->

      <br>
      <ion-row class="ion-padding">
        <ion-col size="6" offset="3">
          <small> <b>Version 21-11</b></small>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>