<app-header-bemte-prof></app-header-bemte-prof>

<ion-content>

  <app-header-user-prof></app-header-user-prof>

  <ion-grid text-center *ngIf="data">
    <ion-row class="lineBotton">
      <ion-col>
        <ion-text color="primary">
          <h1 no-padding no-margin><b> {{tipo}}</b></h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="lineBotton">
      <ion-col offset="1" size="8">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="data.icono ? util.photoUrl + data.icono : '/assets/icon/favicon.png'">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-padding-left">
            <h2> {{data?.materia}} </h2>
            <h5> {{data?.tema}}</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col>
        <ion-text color="primary">
          <h5 padding>
            Gracias por aplicar<br>
            se confirmará en un plazo máximo de 1 hora
          </h5>
        </ion-text>
        <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col offset="2" size="8">
        <ion-button expand="block" shape="round" color="secondary"
          [routerLink]="[tipo=='Clases'?'/lista-clases':tipo=='Tareas'?'/lista-tareas':util.atras()]">
          CONTINUAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>