<ion-content>
  <ion-content>
    <ion-fab style="padding-top: 20px;">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-fab>

    <h3 text-center *ngIf="auth.currentUser | async as user" padding style="padding-top: 20%">
      {{ user?.nombres }} {{ user?.apellidos }}<br>
      Estado de tu billetera
    </h3>

    <div text-center>
    <ion-button (click)="recargarCombos()">
        <ion-icon slot="start" name="wallet"></ion-icon>
        Recargar Horas
      </ion-button>
    </div>
    <ion-grid text-center *ngIf="horasCombos | async as horasCombosD; else loadD" padding class="ion-text-wrap">
      <ion-row>
        <ion-col size="8">
          <h3> Combo </h3>
        </ion-col>
        <ion-col size="4">
          <h3> Horas </h3>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let combo of horasCombosD">
        <ion-col size="8"> {{combo.combo}} </ion-col>
        <ion-col size="4"> {{combo.horas}} </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #loadD>
      <div text-center>
        <ion-spinner></ion-spinner>
        <h3>Espere por favor</h3>
      </div>
    </ng-template>
  </ion-content>