<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>
</ng-template>

<ion-content>

  <ion-grid>
    <ion-row class="lineBotton">
      <ion-col>
        <ion-text text-center color="primary">
          <h1 no-padding no-margin><b> Tareas</b></h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="lineBotton">
      <ion-col size="6">
        <ion-button shape="round" color="primary" [fill]="tipo=='ACTUAL'?'solid':'clear'" expand="block"
          (click)="setTipoTarea('ACTUAL')">Solicitadas</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" color="primary" [fill]="tipo=='ANTERIOR'?'solid':'clear'" expand="block"
          (click)="setTipoTarea('ANTERIOR')">Anteriores</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tareas | async as tareasD; else loadD">
    <ion-row class="ion-no-padding" class="lineBotton" *ngFor="let tarea of tareasD">
      <ion-col size="8">
        <ion-item (click)="setDetallesTareaId(tarea?.id)" lines="none">
          <ion-thumbnail slot="start">
            <img [src]="tarea.icono ? util.photoUrl + tarea.icono : '/assets/icon/favicon.png'">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-padding-left">
            <h2> {{tarea?.materia}} </h2>
            <h5> {{tarea?.tema}}</h5>
          </ion-label>
          <!-- <ion-button *ngIf="tarea?.user_id_pro && tarea?.estado == 'Terminado'" (click)="calificar(tarea)" slot="end">
            Calificar</ion-button> -->
        </ion-item>
      </ion-col>

      <ion-col class="ion-align-self-center lineLateral" text-center size="4">
        <ion-text color="tertiary">
          <p no-padding no-margin><strong> Estado </strong></p>
          <ion-button shape="round" [routerLink]="['/tarea-detalles/'+tarea.id]"
            [color]="util.getColorEstado(util.estados(tarea?.estado))" size="small">
            <small class="ion-no-padding ion-no-margin"><b>{{util.estados(tarea?.estado)}}</b></small>
          </ion-button>
        </ion-text>
      </ion-col>

      <ion-grid text-center [routerLink]="['/tarea-detalles/'+tarea.id]" no-padding *ngIf="tarea?.id==detallesTareaId">

        <ion-row text-left *ngIf="tarea?.descripcion" class="lineBotton">
          <ion-col>
            <ion-text color="tertiary">
              <h5 class="ion-no-margin ion-no-padding ion-padding-left">Descripción</h5><br>
              {{tarea?.descripcion}}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding no-margin size="3">
            <small>Hora</small><br>
            <ion-text color="tertiary">
              <p>{{tarea.hora_inicio}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="3">
            <small>Duración</small><br>
            <ion-text color="tertiary">
              <p>{{tarea.inversion?tarea.inversion:1}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="4">
            <small>Fecha</small><br>
            <ion-text color="tertiary">
              <p>{{tarea.fecha_entrega  | date: 'dd/MM/yyyy'}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="2">
            <small>Alumnos</small><br>
            <ion-text color="tertiary">
              <p>{{1}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col>
            <h5>Entregar: {{tarea?.fecha_entrega | date: 'dd/MM/yyyy'}} ( {{tarea?.hora_inicio}} ~ {{tarea?.hora_fin}})</h5>
            <h5>Formato: {{tarea?.formato_entrega}}</h5>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-row>

    <div text-center *ngIf="tareasD.length === 0">
      <h3>No hay datos para mostrar</h3>
    </div>
  </ion-grid>

  <ng-template #loadD>
    <div padding text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>
</ion-content>