<ion-content>
  <ion-fab style="padding-top: 20px;">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-fab>

  <h3 text-center *ngIf="auth.currentUser | async as user" padding style="padding-top: 20%">
    {{ user?.nombres }} {{ user?.apellidos }}<br>
    Genial, por favor completa la información.
  </h3>

  <form [formGroup]="profesorForm">
    <ion-list padding>
      <ion-item>
        <ion-label position="floating">Cédula</ion-label>
        <ion-input formControlName="cedula"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Impartir Clases</ion-label>
        <ion-checkbox formControlName="clases"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Realizar Tareas</ion-label>
        <ion-checkbox formControlName="tareas"></ion-checkbox>
      </ion-item>
      <ion-row class="ion-padding-top">
        <ion-col size="6" offset="3">
          <ion-button (click)="upload.selectImage()" size="block">Hoja de Vida</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button (click)="upload.selectImage()" size="block">Título</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-button [disabled]="!profesorForm.valid" (click)="solitar()" size="block">Solicitar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>