<ion-content padding text-center>

  <ion-text padding color="light">
    <h1>
      TÉRMINOS <br>
      Y <br>
      CONDICIONES
    </h1>
  </ion-text>

  <ion-text color="light">
    <h3 padding>
      Si continuas aceptas los términos.
    </h3>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col offset="4" size="4">
        <ion-text color="light">
          <a padding href="https://www.google.com/" target="_blank">
            <h3 style="border-bottom: 1px solid; padding: 0px"> Leer </h3>
          </a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button padding color="secondary" (click)="back(true)">
    Continuar
  </ion-button>
</ion-content>