<ion-content padding text-center>
  <br>
  <br>
  <ion-text padding color="light">
    <h1>
      TÉRMINOS <br>
      Y <br>
      CONDICIONES
    </h1>
  </ion-text>

  <ion-text color="light">
    <h3 padding>
      Si continuas aceptas los términos.
    </h3>
  </ion-text>

  <a padding (click)="back('terminos')">
    <ion-text color="light">
      <h3>
        <span style="border-bottom: 1px solid"> Leer </span>
      </h3>
    </ion-text>
  </a>

  <ion-button padding color="tertiary" (click)="back(true)">
    Aceptar
  </ion-button>
</ion-content>