<ion-content padding text-center>

  <ion-text padding color="light">
    <h1>
      TÉRMINOS <br>
      Y <br>
      CONDICIONES
    </h1>
  </ion-text>

  <ion-text color="light">
    <h3 padding>
      Si continuas aceptas los términos.
    </h3>
  </ion-text>

  <a padding href="https://www.google.com/" target="_blank">
    <ion-text color="light">
      <h3> Leer </h3>
      <hr>
    </ion-text>
  </a>

  <ion-button padding color="secondary" (click)="back(true)">
    Continuar
  </ion-button>
</ion-content>