<ion-content padding>


  <ion-grid padding color="light">
    <form [formGroup]="registroForm" (ngSubmit)="confirmarRegistro()">

      <div *ngIf="paso == 1">

        <ion-text class="ion-text-center" color="tertiary">
          <h1 padding>REGISTRO</h1>
        </ion-text>

        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input text-capitalize formControlName="nombre"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input text-capitalize formControlName="apellido"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Fecha de Nacimiento</ion-label>
              <ion-datetime doneText="Hecho" cancelText="Cancelar" placeholder="DD/MM/AA"
                formControlName="fecha_nacimiento" display-format="DD/MM/YYYY">
              </ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Género</ion-label>
              <ion-select okText="Seleccionar" cancelText="Cancelar" formControlName="genero">
                <ion-select-option value='Masculino'>
                  Masculino
                </ion-select-option>
                <ion-select-option value='Femenino'>
                  Femenino
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">País de Residencia</ion-label>
              <ion-select okText="Seleccionar" cancelText="Cancelar" formControlName="pais"
                (ionChange)="cargarCiudades($event.detail.value)">
                <ion-select-option *ngFor="let pais of paisNumber | async" [value]="pais?.pais">
                  {{pais?.pais}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item class="ion-no-padding">
              <ion-label class="ion-text-wrap ion-no-padding ion-no-margin" position="stacked">Ciudad de Residencia
              </ion-label>
              <ion-select [disabled]="!ciudades" okText="Seleccionar" cancelText="Cancelar" formControlName="ciudad">
                <ion-select-option *ngFor="let c of ciudades | async" [value]="c?.ciudad">
                  {{c?.ciudad}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Dirección de Domicilio</ion-label>
              <ion-input formControlName="ubicacion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size="6">
            <ion-button color="tertiary" [routerLink]="['/login']" size="small" expand="block" shape="round">
              <b>
                Cancelar
              </b>
            </ion-button>
          </ion-col>
          <ion-col padding size="6">
            <ion-button [disabled]="" (click)="paso = 2" size="small" expand="block" shape="round" color="success">
              <b>
                Siguiente
              </b>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="paso == 2">

        <ion-text class="ion-text-center" color="tertiary">
          <h1 padding>DATOS DE ACCESO</h1>
        </ion-text>

        <ion-row>
          <ion-col size="12">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input (focusout)="validarUsuario()" placeholder="Create un apodo de minimo 8 caracteres"
                formControlName="apodo">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Correo electrónico</ion-label>
              <ion-input (focusout)="validarCorreo()" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item class="ion-no-padding" lines="none">
              <ion-label position="stacked">
                Celular
              </ion-label>
              <ion-select okText="Seleccionar" cancelText="Cancelar" class="ion-text-center"
                formControlName="paisNumero">
                <ion-select-option *ngFor="let p of paisNumber | async" [value]="p?.codigo">
                  {{p?.codigo}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="8">
            <ion-item class="ion-text-wrap">
              <ion-label hidden position="stacked">
                Celular
              </ion-label>
              <ion-input type="tel" formControlName="celular"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Contraseña <span
                  *ngIf="registroForm.value.password && registroForm.value.password != registroForm.value.passwordC">
                 <br> No coinciden </span></ion-label>
              <ion-input [type]="eye" formControlName="password"></ion-input>
              <ion-button slot="end" class="ion-float-right" fill="clear"
                (click)="eye = eye =='text'?'password': 'text'">
                <ion-icon name="eye" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding ion-text-wrap">
              <ion-label position="stacked">Confirmar contraseña
              </ion-label>
              <ion-input [type]="eye" formControlName="passwordC"></ion-input>
              <ion-button slot="end" class="ion-float-right" fill="clear"
                (click)="eye = eye =='text'?'password': 'text'">
                <ion-icon name="eye" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size="6">
            <ion-button color="tertiary" (click)="paso = 1" size="small" expand="block" shape="round">
              <b>
                Atrás
              </b>
            </ion-button>
          </ion-col>
          <ion-col padding size="6">
            <ion-button
              [disabled]="!registroForm.value.password || registroForm.value.password != registroForm.value.passwordC"
              (click)="paso = 3" size="small" expand="block" shape="round" color="success">
              <b>
                Siguiente
              </b>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="paso == 3">

        <ion-text class="ion-text-center" color="tertiary">
          <h1>MATERIAS QUE DESEAS IMPARTIR</h1>
        </ion-text>

        <div class="ion-text-center">
          <ion-text color="medium">
            <small> Puedes elegir hasta 5 materias </small>
          </ion-text>
        </div>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable placeholder="Seleccionar al menos 1" closeButtonText="Cerrar"
                class="ion-text-center borderRound" [items]="materias" formControlName="materia1"
                itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
                (onChange)="verificarMateria($event.value,1)">
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable closeButtonText="Cerrar" class="ion-text-center borderRound" [items]="materias"
                formControlName="materia2" itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
                (onChange)="verificarMateria($event.value,2)">
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable closeButtonText="Cerrar" class="ion-text-center borderRound" [items]="materias"
                formControlName="materia3" itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
                (onChange)="verificarMateria($event.value,3)">
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable closeButtonText="Cerrar" class="ion-text-center borderRound" [items]="materias"
                formControlName="materia4" itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
                (onChange)="verificarMateria($event.value,4)">
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ionic-selectable closeButtonText="Cerrar" class="ion-text-center borderRound" [items]="materias"
                formControlName="materia5" itemValueField="nombre" itemTextField="nombre" [canSearch]="true"
                (onChange)="verificarMateria($event.value,5)">
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size="6">
            <ion-button color="tertiary" color="tertiary" (click)="paso = 2" size="small" expand="block" shape="round">
              <b>
                Atrás
              </b>
            </ion-button>
          </ion-col>
          <ion-col padding size="6">
            <ion-button [disabled]="!registroForm.value.materia1" (click)="paso = 4" size="small" expand="block"
              shape="round" color="success">
              <b>
                Siguiente
              </b>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="paso == 4">

        <ion-text class="ion-text-center" color="tertiary">
          <h1>¿CÓMO TE GUSTARÍA TRABAJAR?</h1>
        </ion-text>

        <ion-row padding>
          <ion-col offset="1" size="10">
            <ion-button [color]="registroForm.value.clases && registroForm.value.tareas ? 'medium' : 'tertiary'"
              (click)="setClasesTareas(true,true)" expand="block" shape="round">
              <b>
                CLASES Y TAREAS
              </b>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row padding>
          <ion-col offset="1" size="10">
            <ion-button [color]="registroForm.value.clases && !registroForm.value.tareas ? 'medium' : 'tertiary'"
              (click)="setClasesTareas(false,true)" expand="block" shape="round">
              <b>
                CLASES
              </b>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row padding>
          <ion-col offset="1" size="10">
            <ion-button [color]="!registroForm.value.clases && registroForm.value.tareas ? 'medium' : 'tertiary'"
              (click)="setClasesTareas(true,false)" expand="block" shape="round">
              <b>
                TAREAS
              </b>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center offset="3" padding size="6">
            <ion-button (click)="info()" color="medium" size="small" shape="round">
              <small> Información </small>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size="6">
            <ion-button color="tertiary" (click)="paso = 3" size="small" expand="block" shape="round">
              <b>
                Atrás
              </b>
            </ion-button>
          </ion-col>
          <ion-col padding size="6">
            <ion-button [disabled]="!registroForm.value.clases && !registroForm.value.tareas" (click)="paso = 5"
              size="small" expand="block" shape="round" color="success">
              <b>
                Siguiente
              </b>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="paso == 5">

        <ion-text class="ion-text-center" color="tertiary">
          <h1>DOCUMENTOS REQUERIDOS</h1>
        </ion-text>

        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>
                <ion-button fill="outline" size="block" shape="round">
                  Foto de identificación
                </ion-button>
              </ion-label>
              <ion-icon slot="end" color="tertiary" size="large" fill="outline" name="camera"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>
                <ion-button fill="outline" size="block" shape="round">
                  Tómate una foto
                </ion-button>
              </ion-label>
              <ion-icon slot="end" color="tertiary" size="large" fill="outline" name="camera"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding" lines="none">
              <ion-label position="stacked">
                <h3>Descripción profesional</h3>
              </ion-label>
              <ion-textarea formControlName="descripcion" rows="3" class="borderRound"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>
                <ion-text color="tertiary">
                  <h3> <b>Envía los siguientes datos al correo: </b></h3>
                  <h5>bemtemarketing@gmail.com</h5>
                  <ul>
                    <li class="ion-no-padding">
                      Horario de clases <br>
                      <div class="ion-text-center"><small>Si eres estudiante</small> </div>
                    </li>
                    <li class="ion-no-padding">
                      Título Profesional<br>
                      <div class="ion-text-center"><small>Si eres graduado/a</small> </div>
                    </li>
                    <li class="ion-no-padding">
                      Hoja de vida
                    </li>
                  </ul>
                </ion-text>

                <ion-text color="danger">
                  <p>
                    Los datos deben enviarse en 1 solo correo y el asunto de la siguiente manera:
                  </p>
                </ion-text>
                <p>Ej: <u>nombres.apellidos.aspiranteaprofesor</u></p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size="6">
            <ion-button color="tertiary" (click)="paso = 4" size="small" expand="block" shape="round">
              <b>
                Atrás
              </b>
            </ion-button>
          </ion-col>
          <ion-col padding size="6">
            <ion-button [disabled]="!registroForm.valid" type="submit" size="small" expand="block" shape="round"
              color="success">
              <!-- <ion-button [disabled]="!registroForm.valid" size="small" expand="block" shape="round" color="success"> -->
              <b>
                Siguiente
              </b>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </ion-grid>
</ion-content>