<app-header-bemte-prof></app-header-bemte-prof>

<ion-content>

  <ion-grid *ngIf="ganancias | async as gananciasD; else loadD">

    <ion-row *ngIf="auth.currentUser | async as user"
      class="lineBotton ion-text-center ion-no-padding ion-padding-vertical ion-no-margin">
      <ion-col size="4" [routerLink]="['/perfil']">
        <ion-avatar style="display:block; margin:auto;">
          <img [src]="user.avatar">
        </ion-avatar>
        <ion-text color="primary">
          <p class="ion-no-padding ion-no-margin"> <small> {{ user?.nombres }} {{ user?.apellidos }} </small> <br>
          </p>
          <ion-row no-padding no-margin>
            <ion-col offset="5" size="1" no-padding no-margin>
              5
            </ion-col>
            <ion-col size="1" no-padding no-margin>
              <ion-icon color="warning" name="star"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-text>
      </ion-col>
      <ion-col offset="1" size="7" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding">
          <ion-avatar class="ion-no-padding ion-no-margin" slot="start">
            <img class="ion-no-padding ion-no-margin" src="/assets/img/ganancias_menu.png">
          </ion-avatar>
          <ion-label>
            <h1>GANANCIAS</h1>
          </ion-label>
        </ion-item>
        <ion-text class="ion-no-padding ion-no-margin" [color]="tipo=='MULTAS'?'danger':'dark'">
          <h1 class="ion-no-padding ion-no-margin" style="font-size: 40px;">
            <span *ngIf="tipo=='MULTAS'"><b>-</b></span> ${{gananciasD.total}}
          </h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="lineBotton">
      <ion-col size="4" class="ion-no-padding">
        <ion-button shape="round" color="primary" [fill]="tipo=='CLASES'?'solid':'clear'" expand="block"
          (click)="setTipo('CLASES')">CLASES</ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button shape="round" color="primary" [fill]="tipo=='TAREAS'?'solid':'clear'" expand="block"
          (click)="setTipo('TAREAS')">TAREAS</ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button shape="round" color="danger" [fill]="tipo=='MULTAS'?'solid':'clear'" expand="block"
          (click)="setTipo('MULTAS')">MULTAS</ion-button>
      </ion-col>
    </ion-row>

    <div *ngFor="let g of gananciasD.data">
      <ion-row class="ion-no-padding" class="lineBotton">
        <ion-col size="8">
          <ion-item lines="none" (click)="setDetalles(g.id)">
            <ion-thumbnail slot="start">
              <img [src]="g.icono ? util.photoUrl + g.icono : '/assets/icon/favicon.png'">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-padding-left">
              <h2> {{g?.materia}} </h2>
              <h5> {{g?.tema}}</h5>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col class="ion-align-self-center lineLateral" size="4">
          <ion-text class="ion-text-center" [color]="tipo=='MULTAS'?'danger':'dark'">
            <p no-padding no-margin style="font-size: 25px;">${{g.valor}} </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-grid text-center no-padding *ngIf="g?.id==dataDetalles">

        <ion-row text-left *ngIf="g?.descripcion" class="lineBotton">
          <ion-col>
            <ion-text color="tertiary">
              <h5 no-padding no-margin>Descripción</h5><br>
              {{g?.descripcion}}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col no-padding no-margin size="3">
            <small>Hora</small><br>
            <ion-text color="tertiary">
              <p>{{g?.hora1.slice(0,5)}}</p>

            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="3">
            <small>Duración</small><br>
            <ion-text color="tertiary">
              <p>{{g.duracion ? g.duracion: g.horas}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="4">
            <small>Fecha</small><br>
            <ion-text color="tertiary">
              <p>{{g.fecha ? g.fecha : g.fecha_entrega  | date: 'dd/MM/yyyy'}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="2">
            <small>Alumnos</small><br>
            <ion-text color="tertiary">
              <p>{{g.personas ? g.personas : 1}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

  </ion-grid>


  <ng-template #loadD>
    <div padding text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>
</ion-content>