<ion-app>

  <div class="centrarContenido" *ngIf="showSplash">

    <h1 style="text-align: center !important" class="animacionN">
      <img class="text animated pulse" style="display:block; margin:auto; max-width: 200px; max-height: 200px;"
        src="/assets/icon/favicon.png"> <br>
      <span>B</span>
      <span>E</span>
      <span>M</span>
      <span>T</span>
      <span>E</span>
      <!-- SOLO para profesor -->
      <span style="font-size: 35px">Teacher</span>
    </h1>
  </div>

  <ion-fab *ngIf="auth.currentUser | async" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ng-container *ngFor="let p of appPages">
        <ion-fab-button class="ion-fab-button-class" color="primary" [routerLink]="[p.url]">
          <ion-icon [name]="p.icon"></ion-icon>
        </ion-fab-button>
        <ion-label (click)="goTo(p.url)">{{p.title}}</ion-label>
      </ng-container>
    </ion-fab-list>
  </ion-fab>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>