<ion-header>

  <ion-toolbar color="primary">
    <div *ngIf="estadoBoolean != undefined" class="ion-text-start" slot="start">
      <ion-toggle [(ngModel)]="estadoBoolean" (ionChange)="actualizarEstado($event.detail.checked)" color="success">
      </ion-toggle>
      <p class="ion-no-padding ion-no-margin" style="padding-top: -15px;">
        <small class="ion-no-padding ion-no-margin"><strong>{{estado}}</strong></small>
      </p>
    </div>
    <ion-fab-button class="center" size="small" (click)="goTo('inicio-profesor')">
      <img  style="height: 30px; width: 30px;" class="imagenCentro" src="/assets/img/logo_header.png">
    </ion-fab-button>

    <ion-fab-button size="small" slot="end" (click)="goTo('notificaciones')">
      <ion-icon [color]="notificion? 'danger':'light'" [ngClass]="notificion? 'animated wobble': ''"
        name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>

  <ion-item *ngIf="chat && !chatPage" lines="none">
    <ion-button slot="start" color="primary" fill="clear" (click)="descartarChat()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

    <ion-label color="tertiary"><b> Nuevo mensaje en el chat </b> </ion-label>

    <ion-button color="primary" fill="clear" (click)="goTo('chat/1/1')" class="animated pulse">
      <ion-icon slot="icon-only" name="eye"></ion-icon>
    </ion-button>
  </ion-item>
  
</ion-header>