<app-header-bemte></app-header-bemte>

<ion-content padding>

  <ion-grid padding>
    <ion-row>
      <ion-col text-center>
        <ion-text color="tertiary">
          <h1><b> Si un profe te dio su número personal </b></h1>
          <h3>¡Te regalamos 2 horas!</h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="tertiary">
          <h3>Escribenos un mail con los siguientes datos:</h3>
        </ion-text>

        <ion-text color="dark">
          <p class="ion-no-padding">Tus Nombres y Apellidos</p>
          <p class="ion-no-padding">Tu número de celular</p>
          <p class="ion-no-padding">Nombre del profesor</p>
          <p class="ion-no-padding">Celular del profesor</p>
          <p class="ion-no-padding">Día y hora que te dió el contacto</p>
        </ion-text>

        <ion-text color="tertiary">
          <h3>Al mail:</h3>
          <a style="text-decoration:none" href="bemteinformacion@gmail.com" target="_blank">
            <ion-text color="tertiary">
              <h5>
                bemteclasegratis@gmail.com
              </h5>
            </ion-text>
          </a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>
</ion-content>