<ion-grid>
  <ion-row>
    <ion-col text-center>
      <ion-text color="danger">
        <h3>
          Proceda a realizar el pago en un plazo máximo de 1 hora.
        </h3>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="small" shape="round" color="primary">
        Transferencia/ Deposito
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="lineBotton ion-text-start">
    <ion-col size="5">Banco:</ion-col>
    <ion-col size="7">Banco Pichincha</ion-col>
    <ion-col size="5">Cuenta Corriente:</ion-col>
    <ion-col size="7">2100179092</ion-col>
    <ion-col size="5">Nombre:</ion-col>
    <ion-col size="7">Jefferson Almeida</ion-col>
    <ion-col size="5">Cedula:</ion-col>
    <ion-col size="7">1500640147</ion-col>
    <ion-col size="5">Correo:</ion-col>
    <ion-col size="7">bemtepagos@gmail.com</ion-col>
  </ion-row>
  <ion-row class="ion-text-start">
    <ion-col size="5">Banco:</ion-col>
    <ion-col size="7">Banco Del Pacífico</ion-col>
    <ion-col size="5">Cuenta Ahorros:</ion-col>
    <ion-col size="7">1055703232</ion-col>
    <ion-col size="5">Nombre:</ion-col>
    <ion-col size="7">Jefferson Almeida</ion-col>
    <ion-col size="5">Cedula:</ion-col>
    <ion-col size="7">1500640147</ion-col>
    <ion-col size="5">Correo:</ion-col>
    <ion-col size="7">bemtepagos@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="!img || img.length === 0; else imgData" size="10" offset="1">
      <ion-item (click)="subir()" class="ion-no-padding ion-no-margin" lines="none">
        <ion-label>
          <ion-button fill="outline" size="block" shape="round">
            Adjuntar imagen
          </ion-button>
        </ion-label>
        <ion-icon slot="end" color="primary" size="large" fill="outline" name="camera"></ion-icon>
      </ion-item>
    </ion-col>

    <ng-template #imgData>
      <ion-col size="10" offset="1">
        <ion-item *ngFor="let imgD of img; index as pos" text-wrap>
          <ion-thumbnail slot="start">
            <ion-img [src]="imgD.path"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h5>{{ imgD.name }}</h5>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="upload.deleteImage(imgD, pos)">
            <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="6" offset="3">
        <ion-button expand="block" shape="round" (click)="uploadData()" lines="none">
          <b>Confirmar</b>
        </ion-button>
      </ion-col>
    </ng-template>

  </ion-row>

</ion-grid>