<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>

  <div text-center style="position: absolute; bottom: 15px; width: 100%">
    <ion-button padding color="success" (click)="util.atras()">Aceptar
    </ion-button>
  </div>
</ng-template>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="util.atras()" fill="clear" size="large">
          <ion-icon style slot="icon-only" name="ios-arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col text-center size="10">
        <ion-text color="tertiary" style="font-size: 55px;">
          {{data?.tipo}}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin" text-center>
        <img [src]="data.avatar" class='grandeAvatar'>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-text color="tertiary">
          <h3 style="white-space: nowrap"> {{data?.nombre}} <br>
            <ion-icon name="star" color="warning"></ion-icon> {{ (data?.ranking * 1).toFixed(1) }}
          </h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="data.tipo == 'Profesor'">
      <ion-col>
        <ion-text color="tertiary">
          <h3>Descripción</h3>
        </ion-text>
        <ion-text color="dark">
          <p>{{data?.profDescripccion}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>