<ion-content>

  <ion-content>
    <ion-fab style="padding-top: 20px;">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-fab>

    <h3 *ngIf="auth.currentUser | async as user" padding style="padding-top: 20%">
      {{ user?.nombres }} {{ user?.apellidos }}<br>
      Listado de Clases
    </h3>
  
    <ion-list style="background: transparent">
      <ion-item *ngFor="let tarea of clases | async">
        <ion-label class="ion-text-wrap ion-padding-left" >
          <h1>Materia: {{tarea?.materia}} ({{tarea?.tema}})</h1>
          <h3>Entregar: {{tarea?.fecha_entrega}} ( {{tarea?.hora_inicio}} ~ {{tarea?.hora_fin}})</h3>
          <h5>{{tarea?.descripcion}}</h5>
          <h5>{{tarea?.formato_entrega}}</h5>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!clases" text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ion-content>