<app-header-bemte-prof *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDiv">
</app-header-bemte-prof>

<ng-template #estudianteDiv>
  <app-header-bemte></app-header-bemte>
</ng-template>

<ion-content text-center>

  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslizar para Actualiar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(auth.currentUser | async)?.tipo == 'Profesor';else estudianteDivData">
    <ion-grid *ngIf="(claseO | async) as clase; else loadD">

      <!-- Seccion para aplicar a la clase -->
      <div *ngIf="clase.estado == 'Solicitado'">

        <app-header-user-prof></app-header-user-prof>

        <ion-row class="lineBotton">
          <ion-col text-center>
            <ion-text color="primary">
              <h1 no-padding><b>CLASES</b></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col offset="1" size="3" class="ion-no-padding">
            <img style="height: 60px; width: 60px;"
              [src]="clase.icono ? util.photoUrl + clase.icono : '/assets/icon/favicon.png'">
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="tertiary">
              <h5 no-padding no-margin>{{clase.materia}}</h5>
              <small text-wrap>{{clase?.tema}}</small>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="clase?.descripcion" class="lineBotton">
          <ion-col>
            <h5 no-margin no-padding>Descripcion</h5>
            <ion-text color="tertiary">
              <p> {{clase?.descripcion}} </p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col no-padding no-margin size="7">
            <p no-padding>Hora</p>
            <ion-text color="tertiary">
              <p no-margin no-padding style="font-size: 30px">{{clase.hora1}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="5">
            <p no-padding>Duración</p>
            <ion-text color="tertiary">
              <p no-margin no-padding style="font-size: 30px">{{clase.duracion}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="lineBotton">
          <ion-col no-padding no-margin size="7">
            <p no-padding>Fecha</p>
            <ion-text color="tertiary">
              <p no-margin no-padding style="font-size: 30px">{{clase.fecha | date: 'dd/MM/yyyy'}}</p>
            </ion-text>
          </ion-col>
          <ion-col no-padding no-margin size="5">
            <p no-padding>Alumnos</p>
            <ion-text color="tertiary">
              <p no-margin no-padding style="font-size: 30px">{{clase.personas}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="clase?.coordenadas" (click)="map(clase.coordenadas)">
          <ion-col class="ion-align-self-center" size="2">
            <ion-icon size="large" name="pin" color="primary"></ion-icon>
          </ion-col>
          <ion-col no-padding no-margin>
            <ion-text color="tertiary">
              <h5> {{clase?.ubicacion}} </h5>
            </ion-text>
          </ion-col>
          <ion-col class="ion-align-self-center" size="3">
            <ion-button color="success" size="small" shape="round">Mapa</ion-button>
          </ion-col>
        </ion-row>

        <!--  codigo para aplicar a una tarea.-->
        <ion-row>
          <ion-col size="4" offset="1">
            <ion-button (click)="util.atras()" shape="round" expand="block" size="small" color="primary">Atras
            </ion-button>
          </ion-col>
          <ion-col size="4" offset="1">
            <ion-button color="secondary" (click)="aplicar(clase)" shape="round" expand="block" size="small">
              Aplicar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <!-- clase Cancelada -->
      <div padding *ngIf="clase.estado == 'Cancelado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Cancelada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <span *ngIf="clase.user_canc == clase.user_id_pro; else cancelEst">
                    <b>Has cancelado tu clase</b>,<br>
                    recuerda que tienes una multa de 2 horas.
                  </span>
                  <ng-template #cancelEst>
                    <span>
                      <b>Lamentamos informarte que el estudiante ha cancelado la clase</b>,
                      permanece atento a mas solicitudes.
                    </span>
                  </ng-template>
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <br>

        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" [routerLink]="['/inicio-profesor']">
              Clases Solicitadas
            </ion-button>
          </ion-col>
        </ion-row>

      </div>

      <!-- clase Rechazada -->
      <div padding *ngIf="util.estados(clase.estado) == 'Rechazado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-row padding>
          <ion-col>
            <ion-text color="danger">
              <h1 padding><b>Rechazada</b></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <br>

        <ion-row>
          <ion-col>
            <ion-text color="tertiary">
              <h5>
                <b>Lo sentimos</b>,<br>
                la clase no ha podido confirmarse, permanece atento a ms solicitudes.
              </h5>
            </ion-text>
          </ion-col>
        </ion-row>

        <br>

        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" color="success" [routerLink]="['/inicio-profesor']">
              Clases Solicitadas
            </ion-button>
          </ion-col>
        </ion-row>

      </div>

      <div
        *ngIf="clase.estado == 'Confirmando_Pago' || util.estados(clase.estado) == 'Confirmado' || util.estados(clase.estado) == 'Por pagar'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid>
          <ion-row class="lineBotton">
            <ion-col size="12">
              <ion-text
                [color]="util.estados(clase.estado) == 'Confirmado' ? 'tertiary' : util.getColorEstado(util.estados(clase.estado))">
                <h1 style="font-size: 2em"><b>{{util.estados(clase.estado)}}</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton" (click)="verDetalles = !verDetalles">
            <ion-col offset="1" size="3" class="ion-no-padding">
              <img style="height: 60px; width: 60px;"
                [src]="clase.icono ? util.photoUrl + clase.icono : '/assets/icon/favicon.png'">
            </ion-col>
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding no-margin>{{clase.materia}}</h5>
                <small text-wrap>{{clase?.tema}}</small>
              </ion-text>
            </ion-col>
          </ion-row>

          <div *ngIf="verDetalles">
            <ion-row *ngIf="clase?.descripcion" class="lineBotton">
              <ion-col>
                <h5 no-margin no-padding>Descripcion</h5>
                <ion-text color="tertiary">
                  <p> {{clase?.descripcion}} </p>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row class="lineBotton">
              <ion-col no-padding no-margin size="3">
                <small>Hora</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.hora1}}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="3">
                <small>Duración</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.duracion}}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="4">
                <small>Fecha</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.fecha | date: 'dd/MM/yyyy'}}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="2">
                <small>Alumnos</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.personas}}</p>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row class="lineBotton" *ngIf="clase?.coordenadas" (click)="map(clase.coordenadas)">
              <ion-col class="ion-align-self-center" size="2">
                <ion-icon size="large" name="pin" color="primary"></ion-icon>
              </ion-col>
              <ion-col no-padding no-margin>
                <ion-text color="tertiary">
                  <h5> {{clase?.ubicacion}} </h5>
                </ion-text>
              </ion-col>
              <ion-col class="ion-align-self-center" size="3">
                <ion-button color="success" size="small" shape="round">Mapa</ion-button>
              </ion-col>
            </ion-row>
          </div>

          <ion-row class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <p>El chat se activará 1 hora antes de la clase</p>
              </ion-text>
              <ion-item (click)="openChat(clase)" class="borderC">
                <ion-input readnonly></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon size="large" color="tertiary" name="ios-send" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton" *ngIf="clase.alumno">
            <ion-col offset="2" size="6" no-padding no-margin text-center>
              <h5 no-padding> <small> Alumno/a </small><br>
                <ion-text color="tertiary">
                  {{clase?.alumno}}
                </ion-text>
              </h5>
            </ion-col>
            <ion-col size="2" (click)="detallesImg('Alumno', clase.alumnoAvatar, clase.alumnoCalif, clase.alumno)">
              <ion-avatar>
                <img [src]="clase.alumnoAvatar ? urlPhoto + clase.alumnoAvatar : '/assets/icon/favicon.png'">
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row *ngIf="clase.estado == 'Aceptado'">
            <ion-col offset="2" size="8">
              <a no-padding color="tertiary" (click)="confirmarCancelar(clase, 1)">
                <ion-text color="tertiary">
                  <h3 style="border-bottom: 1px solid; padding: 0px">Cancelar clase</h3>
                </ion-text>
              </a>
              <ion-text color="dark">
                <p no-padding>Recuerda que si cancelas la clase tandrás multa.</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/lista-clases']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-grid>
  </div>

  <ng-template #estudianteDivData>
    <div *ngIf="(claseO | async) as clase; else loadD">

      <div *ngIf="clase.estado == 'Sin_Horas'">
        <app-header-user></app-header-user>

        <div padding>
          <ion-text color="danger">
            <h3>No tienes horas suficientes</h3>
          </ion-text>
          <app-horas-seleccionar [clase_id]="clase.id" (accion)="accionHoras($event)"></app-horas-seleccionar>
        </div>
      </div>

      <div *ngIf="clase.estado == 'Solicitado'">
        <app-header-user></app-header-user>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h3 padding>
                  Estamos buscando un profesor...<br>
                  Se confirmará en un plazo máximo de <b>1</b> hora
                </h3>
              </ion-text>
              <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <br>
          <br>
          <br>
          <ion-row padding>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" [routerLink]="['/lista-clases']">
                <b>CONTINUAR</b>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="clase.estado == 'Confirmado'">
        <app-header-user></app-header-user>

        <div padding>
          <app-subir-transferencia [clase_id]="clase.id" (accion)="accionHoras($event)"></app-subir-transferencia>
        </div>
      </div>

      <div padding *ngIf="clase.estado == 'Sin_Profesor'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  no encontramos profesor,
                  por favor elige otro <b>horario</b> e
                  inténtalo nuevamente.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/inicio']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding *ngIf="clase.estado == 'Sin_Pago'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  no has realizado el pago en el tiempo requerido,
                  por favor solicite la clase nuevamente.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/inicio']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding *ngIf="clase.estado == 'Pago_Rechazado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Rechazada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <b>Lo sentimos</b>,<br>
                  su pago ha sido rechazado o no lo hemos podido verificar.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/inicio']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding *ngIf="clase.estado == 'Cancelado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Cancelada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>
                  <span *ngIf="clase.user_canc == clase.user_id; else cancelProf">
                    <b>Has cancelado tu clase</b>,<br>
                    recuerda que tienes una multa de 1 hora.
                  </span>
                  <ng-template #cancelProf>
                    <span>
                      <b>Lamentamos informarte que el profesor ha cancelado la clase</b>,
                      por favor vuelve a solicitar.
                    </span>
                  </ng-template>
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/inicio']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div padding *ngIf="clase.estado == 'Confirmando_Pago'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid padding>
          <ion-row>
            <ion-col>
              <ion-text color="danger">
                <h1 padding><b>Confirmando Pago</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="tertiary">
                <h5>Gracias por realizar su pago. <br>
                  En breves momentos se acreditará su combo.
                </h5>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-progress-bar padding color="primary" type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid padding>
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="secondary" [routerLink]="['/lista-clases']">
                CLASES SOLICITADAS
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div padding
        *ngIf="clase.estado == 'Aceptado' || clase.estado == 'Terminado' || clase.estado == 'Calificado'  || clase.estado == 'Pago_Aprobado'">
        <ion-text color="primary">
          <h1 class="lineBotton"><b>ESTADO DE LA CLASE</b></h1>
        </ion-text>

        <ion-grid>
          <ion-row class="lineBotton">
            <ion-col size="12" class="ion-text-center">
              <ion-text color="tertiary">
                <h1 style="font-size: 3em"><b>Confirmada</b></h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton" (click)="verDetalles = !verDetalles">
            <ion-col offset="1" size="3" class="ion-no-padding">
              <img style="height: 60px; width: 60px;"
                [src]="clase.icono ? util.photoUrl + clase.icono : '/assets/icon/favicon.png'">
            </ion-col>
            <ion-col class="ion-text-left">
              <ion-text color="tertiary">
                <h5 no-padding no-margin>{{clase.materia}}</h5>
                <small text-wrap>{{clase?.tema}}</small>
              </ion-text>
            </ion-col>
          </ion-row>

          <div *ngIf="verDetalles">
            <ion-row *ngIf="clase?.descripcion" class="lineBotton">
              <ion-col>
                <h5 no-margin no-padding>Descripcion</h5>
                <ion-text color="tertiary">
                  <p> {{clase?.descripcion}} </p>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row class="lineBotton">
              <ion-col no-padding no-margin size="3">
                <small>Hora</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.hora1}}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="3">
                <small>Duración</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.duracion}}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="4">
                <small>Fecha</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.fecha | date: 'dd/MM/yyyy' }}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding no-margin size="2">
                <small>Alumnos</small><br>
                <ion-text color="tertiary">
                  <p>{{clase.personas}}</p>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row class="lineBotton" *ngIf="clase?.coordenadas" (click)="map(clase.coordenadas)">
              <ion-col class="ion-align-self-center" size="2">
                <ion-icon size="large" name="pin" color="primary"></ion-icon>
              </ion-col>
              <ion-col no-padding no-margin>
                <ion-text color="tertiary">
                  <h5> {{clase?.ubicacion}} </h5>
                </ion-text>
              </ion-col>
              <ion-col class="ion-align-self-center" size="3">
                <ion-button size="small" shape="round">Mapa</ion-button>
              </ion-col>
            </ion-row>
          </div>

          <ion-row class="lineBotton">
            <ion-col>
              <ion-text color="tertiary">
                <p>El chat se activará 1 hora antes de la clase</p>
              </ion-text>
              <ion-item (click)="openChat(clase)" class="borderC">
                <ion-input readonly></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon size="large" color="tertiary" name="ios-send" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="lineBotton" *ngIf="clase.profesor">
            <ion-col offset="2" size="6" no-padding no-margin text-center>
              <h5 no-padding> <small> Profesor </small><br>
                <ion-text color="tertiary">
                  {{clase?.profesor}}
                </ion-text>
              </h5>
            </ion-col>
            <ion-col size="2"
              (click)="detallesImg('Profesor', clase?.profAvatar, clase?.profCalif, clase?.profesor, clase?.profClases,clase?.profTareas, clase?.profDescripcion)">
              <ion-avatar>
                <img [src]="clase.profAvatar ? urlPhoto + clase.profAvatar : '/assets/icon/favicon.png'">
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row *ngIf="clase.estado == 'Aceptado'">
            <ion-col offset="2" size="8">
              <a no-padding color="tertiary" (click)="confirmarCancelar(clase)">
                <ion-text color="tertiary">
                  <h3 style="border-bottom: 1px solid; padding: 0px">Cancelar clase</h3>
                </ion-text>
              </a>
              <ion-text color="dark">
                <p no-padding>Recuerda que si cancelas la clase tandrás multa.</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col offset="2" size="8">
              <ion-button expand="block" shape="round" color="primary" [routerLink]="['/lista-clases']">
                Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </ng-template>

  <ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>

</ion-content>