<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">

      <div text-center style="position: absolute; bottom: 15px;">
        <ion-button padding color="tertiary" (click)="back(true)">Aceptar
        </ion-button>
      </div>

        <div text-center *ngIf="!terminos" >
          <ion-spinner></ion-spinner>
          <h3>Espere por favor</h3>
        </div>

      <h3 text-center>{{terminos?.reglamentoNombre}}</h3>

      <p class="ion-text-wrap" [innerHTML]="terminos?.reglamentoDescripcion"></p>

      <br><br>

    </ion-row>
  </ion-grid>

</ion-content>