<ion-grid *ngIf="auth.currentUser | async as user">
  <ion-row class="ion-text-center ion-no-padding ion-no-margin">
    <ion-col size="4">
      <ion-avatar style="display:block; margin:auto;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <p> <small> {{ user?.nombres }} {{ user?.apellidos }} </small></p>
      <ion-icon *ngFor="let item of [1,2,3,4,5]" name="star"></ion-icon>
    </ion-col>
    <ion-col size="8">
      <ion-row>
        <ion-col size="4">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <p style="font-size: 12px">Horas Disponibles</p>
        </ion-col>
        <ion-col size="4">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <p>Clases</p>
        </ion-col>
        <ion-col size="4">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <p>Tareas</p>
        </ion-col>
        <ion-col size="4">
          <h3>0</h3>
        </ion-col>
        <ion-col size="4">
          <h3>0</h3>
        </ion-col>
        <ion-col size="4">
          <h3>0</h3>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>