<ion-grid class="lineBotton" no-padding no-margin *ngIf="auth.currentUser | async as user; else loadD">
  <ion-row *ngIf="(userD | async) as userDatos; else loadD" class="ion-text-center ion-no-padding ion-no-margin">
    <ion-col size="4" (click)="goTo('/perfil')">
      <ion-avatar style="padding: 0px; display:block; margin:auto; width: 80px; height: 80px;">
        <img [src]="user.avatar">
      </ion-avatar>
      <div class="ion-text-capitalize ion-text-center" style="height: 10px">
        <small>{{ user?.nombres }}
          {{ user?.apellidos }}<br></small>
        <span style="font-size: 15px; white-space: nowrap">{{ (userDatos?.ranking * 1).toFixed(1) }}</span>
        <ion-icon class="ion-no-padding ion-no-margin" color="warning" name="star">
        </ion-icon>
      </div>
    </ion-col>
    
    <ion-col size="8">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col (click)="goTo('/billetera-estudiante')" size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;" src="/assets/img/horas_disponibles.png">
          <br>
          <span style="font-size: 14px">Horas Disponibles</span>
        </ion-col>
        <ion-col (click)="goTo('/lista-clases')" size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;" src="/assets/img/clases.png">
          <br>
          <span>Clases</span>
        </ion-col>
        <ion-col (click)="goTo('/lista-tareas')" size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;" src="/assets/img/tareas.png">
          <br>
          <span>Tareas</span>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <h3>{{userDatos?.horas}}</h3>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <h3>{{userDatos?.clases}}</h3>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <h3>{{userDatos?.tareas}}</h3>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #loadD>
  <div text-center>
    <ion-spinner></ion-spinner>
    <h3>Espere por favor</h3>
  </div>
</ng-template>