<ion-grid no-padding no-margin *ngIf="auth.currentUser | async as user">
  <ion-row class="ion-text-center ion-no-padding ion-no-margin">
    <ion-col size="4">
      <ion-avatar style="display:block; margin:auto;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <p> <small> {{ user?.nombres }} {{ user?.apellidos }} </small> <br>
        <ion-icon *ngFor="let item of [1,2,3,4,5]" name="star"></ion-icon>
      </p>
    </ion-col>
    <ion-col size="8">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <br>
          <span style="font-size: 14px">Horas Disponibles</span>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <br>
          <span>Clases</span>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <img style="height: 40px; width: 40px;"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <br>
          <span>Tareas</span>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <h3>0</h3>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <h3>0</h3>
        </ion-col>
        <ion-col size="4"class="ion-no-padding">
          <h3>0</h3>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<hr style="width:95%;" style="height: 2px" color="primayr">