<app-header-bemte></app-header-bemte>

<ion-content>

    <app-header-user></app-header-user>

    <ion-grid padding>
        <form [formGroup]="claseForm">
            <ion-row>
                <ion-col>
                    <ion-item no-padding no-margin lines="none">
                        <ion-label position="stacked">
                            <b>Materia</b>
                        </ion-label>
                        <ionic-selectable closeButtonText="Cerrar" class="ion-text-center borderRound"
                            [items]="materias" formControlName="materia" itemValueField="nombre" itemTextField="nombre"
                            [canSearch]="true" (onChange)="claseAnteriorProfesor($event.value.nombre)">
                        </ionic-selectable>
                        <!-- <ion-select okText="Seleccionar" cancelText="Cancelar"
                            (ionChange)="claseAnteriorProfesor($event.detail.value)" class="ion-text-center"
                            formControlName="materia" [disabled]="!materias">
                            <ion-select-option *ngFor="let materia of materias | async" [value]="materia?.nombre">
                                {{materia?.nombre}}
                            </ion-select-option>
                        </ion-select> -->
                    </ion-item>

                    <ion-item no-padding no-margin>
                        <ion-label position="stacked">
                            <b>Tema</b>
                        </ion-label>
                        <ion-input placeholder="Ejemplo: Cálculo integral" formControlName="tema"></ion-input>
                    </ion-item>

                    <ion-item no-padding no-margin>
                        <ion-label position="stacked"><b>Descripcion</b></ion-label>
                        <ion-textarea  placeholder="Ejemplo: Necesito estudiar para mi examen" formControlName="descripcion"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding no-margin lines="none">
                        <ion-label position="stacked">
                            <b>Cantidad de Alumnos</b>
                        </ion-label>
                        <ion-select style="width: 60%; margin: 0 auto;" okText="Seleccionar" cancelText="Cancelar"
                            class="ion-text-center borderRound" formControlName="personas">
                            <ion-select-option value="1">1</ion-select-option>
                            <ion-select-option value="2">2</ion-select-option>
                            <ion-select-option value="3">3</ion-select-option>
                            <ion-select-option value="4">4</ion-select-option>
                            <ion-select-option value="5">5</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding no-margin lines="none">
                        <ion-label position="stacked">
                            <b>Fecha</b>
                        </ion-label>
                        <!-- <ion-icon size="large" color="tertiary" slot="end" name="calendar"></ion-icon> -->
                        <ion-datetime [pickerOptions]="customPickerOptions" doneText="Hecho" cancelText="Cancelar"
                            class="ion-text-center" (ionChange)="validarHora($event?.detail?.value)" [min]="fechaMinima"
                            [max]="fechaMaxima" formControlName="fecha" display-format="DD-MM-YYYY">
                        </ion-datetime>
                    </ion-item>

                    <ion-item no-padding no-margin lines="none">
                        <ion-label position="stacked">
                            <b>Hora</b>
                        </ion-label>
                        <ion-datetime doneText="Hecho" cancelText="Cancelar" class="ion-text-center"
                            [disabled]="!claseForm.value.fecha" formControlName="hora1" [hourValues]="minHora"
                            minuteValues="0,30" display-format="HH:mm">
                        </ion-datetime>
                    </ion-item>

                    <ion-item no-padding no-margin lines="none">
                        <ion-label position="stacked">
                            <b>Duración</b>
                        </ion-label>
                        <ion-select okText="Seleccionar" cancelText="Cancelar" class="ion-text-center borderRound"
                            formControlName="duracion">
                            <ion-select-option value="2">2 horas</ion-select-option>
                            <ion-select-option value="3">3 horas</ion-select-option>
                            <ion-select-option value="4">4 horas</ion-select-option>
                            <ion-select-option value="5">5 horas</ion-select-option>
                            <ion-select-option value="6">6 horas</ion-select-option>
                            <ion-select-option value="7">7 horas</ion-select-option>
                            <ion-select-option value="8">8 horas</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-padding no-margin *ngIf="ultimoProfesor">
                        <ion-label class="ion-text-wrap">Solicitar último profesor</ion-label>
                        <ion-toggle formControlName="seleccion_profesor"></ion-toggle>
                    </ion-item>

                    <ion-item no-padding no-margin lines="none" (click)="goToMap()">
                        <ion-icon no-padding no-margin color="primary" size="large" name="pin" slot="start"></ion-icon>
                        <ion-label no-padding no margin text-center class="ion-text-wrap" no-padding no margin>
                            <b>Ubicación</b> {{claseForm?.value?.ubicacion}}
                        </ion-label>
                        <ion-button slot="end" shape="round" size="small">Mapa</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4" offset="1">
                    <ion-button (click)="atras()" shape="round" expand="block" size="small" color="tertiary">Atras
                    </ion-button>
                </ion-col>
                <ion-col size="4" offset="1">
                    <ion-button [disabled]="!claseForm.valid" (click)="confirmarClase()" shape="round" expand="block"
                        size="small">Siguiente
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>