<app-header-bemte></app-header-bemte>

<ion-content>


    <ion-grid padding>
        <form [formGroup]="claseForm">
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Materia</b>
                        </ion-label>
                        <ion-select (ionChange)="claseAnteriorProfesor($event.detail.value)" class="ion-text-center" formControlName="materia" [disabled]="!materias">
                            <ion-select-option *ngFor="let materia of materias | async" [value]="materia?.nombre">
                                {{materia?.nombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">
                            <b>Tema</b>
                        </ion-label>
                        <ion-input formControlName="tema"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked"><b>Descripcion</b></ion-label>
                        <ion-textarea formControlName="descripcion"></ion-textarea>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Cantidad de Alumnos</b>
                        </ion-label>
                        <ion-select class="ion-text-center" formControlName="personas">
                            <ion-select-option value="1">1</ion-select-option>
                            <ion-select-option value="2">2</ion-select-option>
                            <ion-select-option value="3">3</ion-select-option>
                            <ion-select-option value="4">4</ion-select-option>
                            <ion-select-option value="5">5</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Fecha</b>
                        </ion-label>
                        <ion-datetime class="ion-text-center" (ionChange)="validarHora($event?.detail?.value)"
                            [min]="fechaMinima" [max]="fechaMaxima" formControlName="fecha" display-format="DD-MM-YYYY">
                        </ion-datetime>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Hora</b>
                        </ion-label>
                        <ion-datetime class="ion-text-center" [disabled]="!claseForm.value.fecha"
                            formControlName="hora1" [hourValues]="minHora" minuteValues="0,30" display-format="HH:mm">
                        </ion-datetime>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Duración</b>
                        </ion-label>
                        <ion-select class="ion-text-center" formControlName="duracion">
                            <ion-select-option value="2">2 horas</ion-select-option>
                            <ion-select-option value="3">3 horas</ion-select-option>
                            <ion-select-option value="4">4 horas</ion-select-option>
                            <ion-select-option value="5">5 horas</ion-select-option>
                            <ion-select-option value="6">6 horas</ion-select-option>
                            <ion-select-option value="7">7 horas</ion-select-option>
                            <ion-select-option value="8">8 horas</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item *ngIf="ultimoProfesor" >
                        <ion-label class="ion-text-wrap">Solicitar último profesor</ion-label>
                        <ion-toggle formControlName="seleccion_profesor"></ion-toggle>
                    </ion-item>

                    <ion-item lines="none" (click)="goToMap()">
                        <ion-icon no-padding no-margin color="primary" size="large" name="pin" slot="start"></ion-icon>
                        <ion-label no-padding no margin text-center class="ion-text-wrap" no-padding no margin>
                            <b>Ubicación</b> {{claseForm?.value?.ubicacion}}
                        </ion-label>
                        <ion-button slot="end" shape="round" size="small">Mapa</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4" offset="1">
                    <ion-button (click)="atras()" shape="round" expand="block" size="small" color="secondary">Atras
                    </ion-button>
                </ion-col>
                <ion-col size="4" offset="1">
                    <ion-button [disabled]="!claseForm.valid" (click)="confirmarClase()" shape="round" expand="block"
                        size="small">Siguiente
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>