.borderRound {
  border-radius: 20px;
  border: 1px var(--ion-color-success) solid;
}

ion-datetime {
  border-radius: 20px;
  border: 1px var(--ion-color-success) solid;
}

ion-grid {
  --ion-text-color: var(--ion-color-tertiary) !important;
}

ion-label {
  --color: var(--ion-color-tertiary) !important;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 35px;
}

.centrarReducir {
  width: 70% !important;
  margin: 0 auto !important;
}
