.borderRound{
  border-radius: 20px;
  border: 1px var(--ion-color-success) solid;
}
ion-datetime {
  border-radius: 20px;
  border: 1px var(--ion-color-success) solid;
}

ion-grid {
  --ion-text-color: var(--ion-color-tertiary) !important;
}

ion-label {
  --color: var(--ion-color-tertiary) !important;
  font-size: 35px;
}
