// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @body: linear-gradient(45deg, #243356 0%,#05879e 44%,#00a54d 100%);

// ion-content {
//     --ion-background-color: linear-gradient(to bottom, #00a54d 0%,#05879e 71%,#243356 100%);
//     --ion-text-color: var(--ion-color-light);
// }

// .oscuroB{
//     background-color: var(--ion-color-tertiary) !important;
// }

// ion-item{
//     --background: transparent;
// }

// ion-grid{
//     --background: transparent;
// }

// .round {
//     -moz-border-radius: 50px;
//     -webkit-border-radius: 50px;
//     border-radius: 5px;
// }

// .roundItem {
//     -moz-border-radius: 50px;
//     -webkit-border-radius: 50px;
//     border-radius: 25px;
// }

// .round-noborder {
//     -moz-border-radius: 50px;
//     -webkit-border-radius: 50px;
//     border-radius: 10px;
// }

.lineBotton {
  border-bottom: 2px var(--ion-color-primary) solid;
}

.lineLateral {
  border-left: 1px var(--ion-color-primary) solid;
}

ion-item {
  --border-color: var(--ion-color-primary);
  --highlight-height: 1.5px;
}

.cart-badge {
  // position: absolute;
  top: -5px;
  left: -42px;
  z-index: 99;
  background: red !important;
}

.item-avatar {
  width: 180% !important;
  height: 180% !important;
  max-width: 100px !important; //any size
  max-height: 100px !important; //any size
}

ion-fab-list {
  ion-label {
    position: relative;
    top: 26px;
    right: 62px;
    color: white;
    background-color: var(--ion-color-primary);
    line-height: 20px;
    padding: 2px 4px;
    width: 100px;
    border-radius: 4px;
    z-index: -1;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
  }
}
ion-fab {
  ion-badge {
    position: relative;
    top: 10px;
    left: 50px;
  }
}

.alert-radio-label.sc-ion-alert-md {
  white-space: pre-line !important;
}

.alert-radio-label.sc-ion-alert-ios {
  white-space: pre-line !important;
}

.fondoVerde {
  --background: var(--ion-color-success) !important;
}

//TODO:pintar los radio buton de las confirmaciones de blanco.

.fondoRojo {
  --background: var(--ion-color-danger) !important;
}

.fondoAzul {
  --background: var(--ion-color-tertiary) !important;
}

.radioColorWhite {
  alert-radio-icon {
    color: red;
    --color-checked: red !important;
  }
  .item-radio-checked {
    background-color: red;
  }
}

.alertRojo {
  color: white !important;
  h2 {
    color: white !important;
  }
  div {
    color: white !important;
  }
  div div:last-child {
    button {
      padding-left: 25px !important;
      padding-right: 25px !important;
      color: white !important;
      background-color: var(--ion-color-tertiary) !important;
      margin: 0 auto !important;
      border-radius: 22px !important;
    }
  }
}

.alertDefault {
  color: white !important;
  h2 {
    color: white !important;
  }
  div {
    color: white !important;
  }
  div div:last-child {
    button {
      padding-left: 25px !important;
      padding-right: 25px !important;
      color: white !important;
      background-color: var(--ion-color-tertiary) !important;
      margin: 0 auto !important;
      border-radius: 22px !important;
    }
  }
}

.alertDefaultBotonVerde {
  color: white !important;
  h2 {
    color: white !important;
  }
  div {
    color: white !important;
  }
  div div:last-child {
    button {
      padding-left: 25px !important;
      padding-right: 25px !important;
      color: white !important;
      background-color: var(--ion-color-success) !important;
      margin: 0 auto !important;
      border-radius: 22px !important;
    }
  }
}

.radioBlanco{
  .alert-radio-inner .sc-ion-alert-md{
    background-color: var(--ion-color-light);
    color: var(--ion-color-light);
  }
}
.centrarContenido {
  background-color: var(--ion-color-primary);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  font-size: 55px;
  color: white;
  animation: typing 2.5s steps(60, end), blink-caret 0.75s step-end infinite;
}

// ion-fab-list{
//   :first-child{
//     position: absolute;
//     top: 6px;
//     left: 45px;
//   }
// }

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

.text {
  text-align: center;
  margin-top: 56px;
  color: #fff;
  font-size: 1em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  animation-name: flash;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.rubberBand {
  animation-name: rubberBand;
}

.escribir {
  animation-name: typing 2.5s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.shake {
  animation-name: shake;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.wobble {
  animation-name: wobble;
}

@keyframes flip {
  0% {
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    animation-timing-function: ease-in;
  }
}
.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
.rollIn {
  animation-name: rollIn;
}

@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateIn {
  animation-name: rotateIn;
}

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
  }
}
.hinge {
  margin: 20px;
  animation-name: hinge;
}

.animacionN span {
  display: inline-block;
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.animacionN img {
  animation-delay: 1s;
}
.animacionN span:nth-child(2) {
  animation-delay: 2.75s;
}
.animacionN span:nth-child(3) {
  animation-delay: 3s;
}
.animacionN span:nth-child(4) {
  animation-delay: 3.15s;
}
.animacionN span:nth-child(5) {
  animation-delay: 3.3s;
}
.animacionN span:nth-child(6) {
  animation-delay: 3.4s;
}
.animacionN span:nth-child(7) {
  animation-delay: 3.47s;
}
.animacionN span:nth-child(8) {
  animation-delay: 3.59s;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.my-custom-modal-css .modal-wrapper {
  height: 80%;
  top: 10%;
  width: 90%;
  left: 5%;
  position: absolute;
  display: block;
  border-radius: 22px !important;
}

.modalRojo {
  ion-content {
  --background: var(--ion-color-danger) !important;
  }
}

.modalAzul {
  ion-content {
  --background: var(--ion-color-tertiary) !important;
  }
}