ion-content {
  --background: url(/assets/img/background_on.png) no-repeat 52% center/cover;
  background-color: var(--ion-color-primary) !important;
  --ion-background-color: var(--ion-color-primary) !important;
}
