<app-header-bemte *ngIf="reload"></app-header-bemte>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslizar para Actualiar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(auth.currentUser | async) as user; else loadD">
 
    <app-header-user *ngIf="reload"></app-header-user>

    <ion-text color="tertiary">
      <h2 class="ion-padding ion-text-center"><strong> Bienvenid@ {{ user?.nombres }} </strong></h2>
    </ion-text>

    <ion-text color="tertiary">
      <h3 class="ion-padding ion-text-center">Necesitas ayuda con:</h3>
    </ion-text>

    <ion-grid>
      <ion-row class="ion-padding">
        <ion-col size="8" offset="2">
          <ion-button expand="block" size="large" shape="round" (click)="goTo('clases')" lines="none">
            <b>CLASES</b>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col size="8" offset="2">
          <ion-button expand="block" size="large" shape="round" (click)="goTo('tareas')" lines="none">
            <b>TAREAS</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <label for="input" style="font-size: 20pt; padding: 30px">
        +
      </label>
      <input id="input" type="file" class="hideInput" (change)="changeListener($event)">
    </ion-fab-button>
  </ion-fab>

  nombre fichero {{fichero ? fichero.get('filename'):''}} -->

  <ng-template #loadD>
    <div text-center>
      <ion-spinner></ion-spinner>
      <h3>Espere por favor</h3>
    </div>
  </ng-template>

</ion-content>