<app-header-bemte></app-header-bemte>

<ion-content>
    <app-header-user></app-header-user>

    <ion-grid padding>
        <form [formGroup]="tareaForm">
            <ion-row class="lineBotton">
                <ion-col>
                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Materia</b>
                        </ion-label>
                        <ionic-selectable style="width: 80%; margin: 0 auto;" closeButtonText="Cerrar"
                            class="ion-text-center borderRound" [items]="materias" formControlName="materia"
                            itemValueField="nombre" itemTextField="nombre" [canSearch]="true">
                        </ionic-selectable>
                        <!-- <ion-select okText="Seleccionar" cancelText="Cancelar" class="ion-text-center"
                            [disabled]="!materias" formControlName="materia">
                            <ion-select-option *ngFor="let materia of materias | async" [value]="materia?.nombre">
                                {{materia?.nombre}}
                            </ion-select-option>
                        </ion-select> -->
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">
                            <ion-button color="tertiary" fill="clear" (click)="showMessage()" size="small"
                                class="ion-no-padding ion-no-margin" style="text-transform:none">
                                <b> Tema </b>
                                <ion-icon slot="end" name="help" color="success"> </ion-icon>
                            </ion-button>
                        </ion-label>


                        <ion-input placeholder="Ejemplo:Cálculo integral" formControlName="tema"> </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked"><b>Descripcion</b></ion-label>
                        <ion-textarea placeholder="Cantidad de hojas, Parámetros" formControlName="descripcion">
                        </ion-textarea>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"> <b>Fecha entrega</b></ion-label>
                        <ion-datetime style="width: 80%; margin: 0 auto;" doneText="Hecho" cancelText="Cancelar"
                            class="ion-text-center" (ionChange)="validarHora($event?.detail?.value)" [min]="fechaMinima"
                            [max]="fechaMaxima" formControlName="fecha_entrega" display-format="DD-MM-YYYY">
                        </ion-datetime>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"><b>Hora entrega</b></ion-label>
                        <ion-select [interfaceOptions]="customActionSheetOptions" okText="Aceptar" cancelText="Cancelar"
                            class="ion-text-center" formControlName="hora_rango">
                            <ion-select-option *ngFor="let hora of rangosHorarios" [value]="hora">{{hora.hora_inicio}} -
                                {{hora.hora_fin}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"><b>Formato</b></ion-label>
                        <ion-select [interfaceOptions]="customActionSheetOptions" style="width: 80%; margin: 0 auto;"
                            okText="Aceptar" cancelText="Cancelar" class="ion-text-center"
                            formControlName="formato_entrega">
                            <ion-select-option value="foto">Foto</ion-select-option>
                            <ion-select-option value="word">Word</ion-select-option>
                            <ion-select-option value="excel">Excel</ion-select-option>
                            <ion-select-option value="pdf">PDF</ion-select-option>
                            <ion-select-option value="otros">Otros</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="lineBotton">
                <ion-col size="12">
                    <ion-item lines="none" class="ion-no-padding ion-no-margin">
                        <ion-label>
                            <ion-text color="tertiary">
                                <b>Adjuntar archivo</b>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col *ngIf="!fichero && !img; else imgData" size="3" offset="2"
                    class="ion-align-self-center ion-text-center" style="margin: auto">
                    <ion-fab style="position: relative;" color="success" (click)="subir()">
                        <ion-fab-button>
                            <ion-icon name="camera"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>

                <ion-col *ngIf="!fichero && !img" size="3" offset="2" class="ion-align-self-center ion-text-center"
                    style="margin: auto">
                    <ion-fab style="position: relative;" color="success" (click)="seleccionarArchivo()">
                        <ion-fab-button>
                            <ion-icon name="document"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
                <ng-template #imgData>
                    <ion-col size="10" offset="1" *ngIf="img && img.length > 0">
                        <ion-item *ngFor="let imgD of img; index as pos" text-wrap>
                            <ion-thumbnail slot="start">
                                <ion-img [src]="imgD.path"></ion-img>
                            </ion-thumbnail>
                            <ion-label position="stacked">
                                <h5>{{ imgD.name }}</h5>
                            </ion-label>

                            <ion-button slot="end" fill="clear" (click)="upload.deleteImage(imgD, pos)">
                                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-col>

                    <ion-col size="10" offset="1" *ngIf="fichero">
                        <ion-item text-wrap>

                            <h5>{{ fichero.get('filename')}}</h5>

                            <ion-button slot="end" fill="clear" (click)="fichero = undefined">
                                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-col>
                </ng-template>
            </ion-row>

            <ion-row>
                <ion-col size="6" offset="3">
                    <ion-button color="success" shape="round" [disabled]="!tareaForm.valid" (click)="confirmarTarea()"
                        size="block">Siguiente
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>