<app-header-bemte></app-header-bemte>

<ion-content>
    <app-header-user></app-header-user>

    <ion-grid padding>
        <form [formGroup]="tareaForm">
            <ion-row class="lineBotton">
                <ion-col>
                    <ion-item lines="none">
                        <ion-label position="stacked">
                            <b>Materia</b>
                        </ion-label>
                        <ionic-selectable style="width: 80%; margin: 0 auto;" closeButtonText="Cerrar"
                            class="ion-text-center borderRound" [items]="materias" formControlName="materia"
                            itemValueField="nombre" itemTextField="nombre" [canSearch]="true">
                        </ionic-selectable>
                        <!-- <ion-select okText="Seleccionar" cancelText="Cancelar" class="ion-text-center"
                            [disabled]="!materias" formControlName="materia">
                            <ion-select-option *ngFor="let materia of materias | async" [value]="materia?.nombre">
                                {{materia?.nombre}}
                            </ion-select-option>
                        </ion-select> -->
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">
                            <b> Tema </b>
                        </ion-label>


                        <ion-input placeholder="Ejemplo:Cálculo integral" formControlName="tema"> </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked"><b>Descripcion</b></ion-label>
                        <ion-textarea
                            placeholder="Indicaciones, cantidad de hojas, número de fuentes bibliográficas, rúbrica, etc."
                            formControlName="descripcion">
                        </ion-textarea>
                        <ion-button style="position: absolute; top: 6px; left: 25%; z-index: 9;" fill="clear"
                            size="small" (click)="showMessage()">
                            <ion-icon slot="icon-only" color="success" name="help-circle"></ion-icon>
                        </ion-button>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"> <b>Fecha entrega</b></ion-label>
                        <ion-datetime style="width: 80%; margin: 0 auto;" doneText="Hecho" cancelText="Cancelar"
                            class="ion-text-center" (ionChange)="validarHora($event?.detail?.value)" [min]="fechaMinima"
                            [max]="fechaMaxima" formControlName="fecha_entrega" display-format="DD-MM-YYYY">
                        </ion-datetime>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"><b>Hora entrega</b></ion-label>
                        <ion-select [interfaceOptions]="customActionSheetOptions" style="width: 80%; margin: 0 auto;" okText="Aceptar" cancelText="Cancelar"
                            class="ion-text-center" formControlName="hora_rango">
                            <ion-select-option *ngFor="let hora of rangosHorarios" [value]="hora">{{hora.hora_inicio}} -
                                {{hora.hora_fin}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label position="stacked"><b>Formato</b></ion-label>
                        <ion-select [interfaceOptions]="customActionSheetOptions" style="width: 80%; margin: 0 auto;"
                            okText="Aceptar" cancelText="Cancelar" class="ion-text-center"
                            formControlName="formato_entrega">
                            <ion-select-option value="foto">Foto</ion-select-option>
                            <ion-select-option value="word">Word</ion-select-option>
                            <ion-select-option value="excel">Excel</ion-select-option>
                            <ion-select-option value="pdf">PDF</ion-select-option>
                            <ion-select-option value="otros">Otros</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="lineBotton" *ngIf="!fichero || fichero.length < 7">
                <ion-col size="12">
                    <ion-text color="tertiary">
                        <b>Adjuntar archivo</b>
                    </ion-text>
                </ion-col>

                <ion-col offset="2" size="3" class="ion-align-self-center ion-text-center">
                    <ion-fab style="position: relative;" color="success" (click)="selectImage()">
                        <ion-fab-button size="small" color="success">
                            <ion-icon name="camera"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>

                <ion-col size="2" offset="2" class="ion-align-self-center ion-text-center">
                    <ion-fab style="position: relative;" color="success" (click)="seleccionarArchivo()">
                        <ion-fab-button size="small" color="success">
                            <ion-icon name="document"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="fichero && fichero.length > 0">
                <ion-col size="10" offset="1">

                    <ion-item text-wrap *ngFor="let f of fichero">
                        <ion-label>
                            <h5>{{ f.get('filename')}}</h5>
                        </ion-label>
                        <ion-button slot="end" fill="clear" (click)="eliminar(f.get('filename'))">
                            <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6" offset="3">
                    <ion-button color="success" shape="round" [disabled]="!tareaForm.valid" (click)="confirmarTarea()"
                        size="block">Siguiente
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>