<ion-content>
    <ion-fab style="padding-top: 20px;">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-fab>

    <h3 text-center *ngIf="auth.currentUser | async as user" padding style="padding-top: 20%">
        {{ user?.nombres }} {{ user?.apellidos }}<br>
        Describe tu tarea
    </h3>

    <ion-grid>
        <form [formGroup]="tareaForm">
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label>Materia</ion-label>
                        <ion-select [disabled]="!materias" formControlName="materia">
                            <ion-select-option *ngFor="let materia of materias | async" [value]="materia?.nombre">
                                {{materia?.nombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Tema</ion-label>
                        <ion-textarea formControlName="tema" class="ion-text-end">
                        </ion-textarea>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>Fecha entrega</ion-label>
                        <ion-datetime  [min]="fechaMinima" [max]="fechaMaxima" formControlName="fecha_entrega" display-format="DD-MM-YYYY"></ion-datetime>
                    </ion-item>

                    <h3 *ngIf="tareaForm.value.fecha_entrega && tareaForm.value.fecha_entrega < hoy">
                            Revise las fechas por favor
                        </h3>

                    <ion-item lines="none">
                        <ion-label>Hora entrega</ion-label>
                        <ion-select formControlName="hora_rango">
                            <ion-select-option *ngFor="let hora of rangosHorarios" [value]="hora">{{hora.hora_inicio}} -
                                {{hora.hora_fin}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Descripcion</ion-label>
                        <ion-textarea formControlName="descripcion" class="ion-text-end">
                        </ion-textarea>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>Formato</ion-label>
                        <ion-select formControlName="formato_entrega">
                            <ion-select-option value="word">Word</ion-select-option>
                            <ion-select-option value="pdf">PDF</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="!img || img.length === 0; else imgData" size="6" offset="3">
                    <ion-button size="block" (click)="subir()">Adjuntar Imagen</ion-button>
                    <!-- <ion-button size="block" (click)="transferir()">Transferir</ion-button> -->
                </ion-col>
                <ng-template #imgData>
                    <ion-col size="10" offset="1">
                        <ion-item *ngFor="let imgD of img; index as pos" text-wrap>
                            <ion-thumbnail slot="start">
                                <ion-img [src]="imgD.path"></ion-img>
                            </ion-thumbnail>
                            <ion-label>
                                <h5>{{ imgD.name }}</h5>
                            </ion-label>
                            <!-- <ion-button slot="end" fill="clear" (click)="upload.startUpload(imgD)">
                                <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                            </ion-button> -->
                            <ion-button slot="end" fill="clear" (click)="upload.deleteImage(imgD, pos)">
                                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-col>
                </ng-template>
            </ion-row>
            <ion-row>
                <ion-col size="4" offset="1">
                    <ion-button (click)="atras()" size="block">Atras</ion-button>
                </ion-col>
                <ion-col size="4" offset="1">
                    <ion-button [disabled]="!tareaForm.valid" (click)="confirmarTarea()" size="block">Confirmar
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>