<ion-content>
  <div style="padding-top: 20%"></div>
  <ion-grid *ngIf="!confirmar">
    <h3 *ngIf="combo" padding text-center>
      {{ combo }}
    </h3>
    <ion-row>
      <ion-col>
        <ion-list
          *ngIf="horas | async as horaD; else loadD"
          style="background: transparent"
        >
          <ion-radio-group [(ngModel)]="horaSeleccionada">
            <ion-item *ngFor="let hora of horaD">
              <ion-label>{{ hora.hora }} Horas</ion-label>
              <ion-radio slot="start" [value]="hora"></ion-radio>
              <div slot="end" text-center>
                {{ hora.inversion }}<br />
                <small
                  ><del> Antes {{ hora.descuento }} </del></small
                >
              </div>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ng-template #loadD>
      <div text-center>
        <ion-spinner></ion-spinner>
        <h3>Espere por favor</h3>
      </div>
    </ng-template>
    <ion-row>
      <ion-col size="4" offset="1">
        <ion-button (click)="atras()" size="block">Atras</ion-button>
      </ion-col>
      <ion-col size="4" offset="1">
        <ion-button
          [disabled]="!horaSeleccionada"
          (click)="confirmar = true"
          size="block"
          >Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- paso confirmar -->
  <ion-grid *ngIf="confirmar && !pagarCombo" text-center>
    <h3
      text-center
      *ngIf="auth.currentUser | async as user"
      padding
      style="padding-top: 20%"
    >
      {{ user?.nombres }} {{ user?.apellidos }}<br />
      Has escogido el combo
    </h3>
    <div *ngIf="!pagarCombo">
      <h3 *ngIf="combo" padding>
        {{ combo }}
      </h3>
      <ion-list style="background: transparent">
        <ion-item class="ion-padding-horizontal">
          <ion-label>
            Precio Promocion:
          </ion-label>
          <div slot="end">$ {{ horaSeleccionada?.inversion }}</div>
        </ion-item>
        <ion-item class="ion-padding-horizontal">
          <ion-label>
            Combo:
          </ion-label>
          <div slot="end">{{ horaSeleccionada?.hora }} Horas</div>
        </ion-item>
      </ion-list>

      <ion-row>
        <ion-col size="4" offset="1">
          <ion-button size="block" (click)="confirmar = false"
            >Atras</ion-button
          >
        </ion-col>
        <ion-col size="4" offset="1">
          <ion-button
            [disabled]="!horaSeleccionada"
            (click)="confirmarHora()"
            size="block"
            >Confirmar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="confirmar && pagarCombo">
    <ion-row>
      <ion-col text-center>
        <h5 padding small>Pagar con transferencia</h5>
        <h5>
          Tiene 20 min. <br />
          CC: 22xxx00982 BEMTE
        </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        *ngIf="!img || img.length === 0; else imgData"
        size="8"
        offset="2"
      >
        <ion-button size="block" (click)="subir()">Adjuntar Imagen</ion-button>
      </ion-col>

      <ng-template #imgData>
        <ion-col size="10" offset="1">
          <ion-item *ngFor="let imgD of img; index as pos" text-wrap>
            <ion-thumbnail slot="start">
              <ion-img [src]="imgD.path"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h5>{{ imgD.name }}</h5>
            </ion-label>
            <ion-button
              slot="end"
              fill="clear"
              (click)="upload.deleteImage(imgD, pos)"
            >
              <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="1">
        <ion-button
          shape="round"
          expand="block"
          size="small"
          (click)="pagarCombo = false"
          >ATRAS</ion-button
        >
      </ion-col>
      <ion-col size="4" offset="1">
          <!-- [disabled]="!img || img.length === 0" -->
        <ion-button
          shape="round"
          expand="block"
          size="small"
          (click)="pagarComboConTransferencia()"
        >
          Pagar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
