.round {border-radius: 50% !important;}

.imagenCentro{
    height: 35px; 
    width: 35px; 
    padding: 0px; 
    margin: 0px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}