<ion-header>

  <ion-toolbar color="secondary">

    <ion-button class="round" slot="start" (click)="goTo('perfil')">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>

    <ion-title text-center>
      <img style="height: 40px; width: 40px;"
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-title>

    <ion-button class="round" slot="end" (click)="goTo('notificacioens')">
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>